{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="button" id="button-save-field_file" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-default"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default" id="form-field_file">

      <div class="panel-body">
        
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-file-ext-allowed"><span data-toggle="tooltip" title="{{ help_file_ext_allowed }}">{{ entry_file_ext_allowed }}</span></label>
              <div class="col-sm-10">
                <textarea name="config_file_ext_allowed" rows="5" placeholder="{{ entry_file_ext_allowed }}" id="input-file-ext-allowed" class="form-control">{{ field_file_ext_allowed }}</textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-file-mime-allowed"><span data-toggle="tooltip" title="{{ help_file_mime_allowed }}">{{ entry_file_mime_allowed }}</span></label>
              <div class="col-sm-10">
                <textarea name="config_file_mime_allowed" rows="5" placeholder="{{ entry_file_mime_allowed }}" id="input-file-mime-allowed" class="form-control">{{ field_file_mime_allowed }}</textarea>
              </div>
            </div>

        
      </div>
    </div>
  </div>
</div>
                
<script type="text/javascript">
    $('#button-save-field_file').on('click', function(){
        $.ajax({
            url: 'index.php?route=extension/field/file/setting',
            type: 'post',
            cache: false,
            data: $('#form-field_file input[type=\'text\'], #form-field_file input[type=\'hidden\'], #form-field_file input[type=\'radio\']:checked, #form-field_file input[type=\'checkbox\']:checked, #form-field_file select, #form-field_file textarea, #form-field_file select'),
            dataType: 'json',

            success: function (json) {
               window.location.href = "/index.php?route=marketplace/extension&type=field";
            }
        });        
    });
</script>                
{{ footer }}