{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right"><a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-success"><i class="fa fa-plus"></i></a> 
          {#<a href="{{ repair }}" data-toggle="tooltip" title="{{ button_rebuild }}" class="btn btn-default"><i class="fa fa-refresh"></i></a>#}
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-item').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-body">
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-item">
          <input class="form-control" id="search" placeholder="{{ text_search }}" type="text" autocomplete="off"><br>            
          <div class="table-responsive">
            <table class="table table-bordered table-hover" id="list_item">
              <thead class="background1">
                <tr>
                  <th style="width: 1px;" class="text-center"><input type="checkbox" id="check-item_selected_all" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></th>
                  <th class="text-left">{% if sort == 'name' %}
                    <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
                    {% else %}
                    <a href="{{ sort_name }}">{{ column_name }}</a>
                    {% endif %}</th>
                  <th class="text-right">{% if sort == 'sort_order' %}
                    <a href="{{ sort_sort_order }}" class="{{ order|lower }}">{{ column_sort_order }}</a>
                    {% else %}
                    <a href="{{ sort_sort_order }}">{{ column_sort_order }}</a>
                    {% endif %}</th>
                </tr>
              </thead>
              <tbody>
                {% if items %}
                {% for item in items %}
                <tr>
                  <td class="text-center">{% if item.item_id in selected %}
                    <input type="checkbox" name="selected[]" value="{{ item.item_id }}" checked="checked" />
                    {% else %}
                    <input type="checkbox" name="selected[]" value="{{ item.item_id }}" />
                    {% endif %}</td>
                  <td class="text-left pointer" onclick="window.location='{{ item.edit }}';">{% if item.image %}<img src="{{ item.image }}"> {% endif %}{{ item.name }}</td>
                  <td class="text-right pointer" onclick="window.location='{{ item.edit }}';">{{ item.sort_order }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="4">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
      $("#search").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#list_item tbody tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
        if (value) {
           $('#check-item_selected_all').hide();
        } else {
           $('#check-item_selected_all').show();
        }         
      });
    });
</script>                    
{{ footer }}
