<hr>
<ul class="nav nav-tabs" id="message_template">
{% for language in languages %}
<li><a href="#message_template{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
{% endfor %}
</ul>        
<div class="tab-content" id="block-dialog_content">
    {% for language in languages %}
    <div class="tab-pane fade" id="message_template{{ language.language_id }}">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="input-template{{ language.language_id }}"><span data-toggle="tooltip" title="{{ help_template }}">{{ entry_template }}</span></label>
        <div class="col-sm-10">
          <textarea name="action[template][{{ language.language_id }}]" placeholder="{{ entry_template }}" 
                    id="input-message_template{{ language.language_id }}" data-toggle="summernote" 
                    data-lang="{{ code }}" class="form-control">
                  {{ action.template[language.language_id] }}
          </textarea>
        </div>
      </div>
      <div class="form-group">    
        <label class="col-sm-3 control-label" for="input-title"><span data-toggle="tooltip" title="{{ help_title }}">{{ entry_title }}</span></label>
        <div class="col-sm-9">     
            <input type="text" name="action[title][{{ language.language_id }}]" id="input-title" value="{{ action.title[language.language_id] }}" placeholder="{{ entry_title }}" class="form-control">
        </div>    
      </div>
    </div>                  
    {% endfor %} 
</div>    
    
<script type="text/javascript">
    {% for language in languages %}
        init_summernote_s($('#input-message_template{{ language.language_id }}'),'{{ doctype_uid }}');
    {% endfor %}     
    $('#block-dialog_content').on({
        "shown.bs.dropdown": function () {
            $('.input-select_field').focus(); //фокус на поле автокомплита редактора
    }
    });    
    $('#message_template a:first').tab('show');
</script>    
        
        
        