
<div id="modal_window-action_message{{ token }}" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-reply"></i></button>
                </div>    
                <div class="pull-left"><h4 class="modal-title text-left">{{ title }}</h4></div>
            </div>    
            <div class="modal-body" id="form_route">
                <div id="dialog_form" class="form-horizontal">
                    {{ content }}
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div style="margin-top: 15px;" class="visible-xs"></div>
                        <span class="btn btn-default btn-block" data-dismiss="modal">{{ button_close }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $('.tooltip').hide();
    $('#modal_window-action_message{{ token }}').modal('show');
    $('#modal_window-action_message{{ token }}').on('hidden.bs.modal', function () {
        $(this).remove();
    });

</script>