<div class="form-group">

    
    <div class="text-info">{{ text_add_field }}
        <span class="btn btn-default" onclick="inner_fields.editField()"
              data-toggle="tooltip" title="{{ text_add_button }}" data-original-title="{{ text_add_button }}">
            <i class="fa fa-plus-circle"></i>
        </span>
    </div> 
    <div class="">
        <div id='table_fields' style='margin-top: 3px'>
        </div>
    </div> 
    <input type="hidden" name="field[inner_fields]" value='{{ params.inner_fields }}'>
    <input type="hidden" name="inner_fields_descriptions" value='{{inner_fields_descriptions}}'>
</div>   
<script>
        var inner_fields = new FieldContainer('table', 'input[name=\'field[inner_fields]\']', '#table_fields', 'input[name=\'inner_fields_descriptions\']', '{{doctype_uid}}', '', '{{language_id}}');
        inner_fields.initfc();

        //из-за второго модального окна теряется скролл, исправляем        
        $(document).on('hidden.bs.modal', function (event) {
            if ($('.modal:visible').length) {
                $('body').addClass('modal-open');
            }
        });

</script>