{% set unique = random() %}
{% if widget_name is not empty %}
    {% set NAME = widget_name %}
    {% set ID = 'input-' ~ widget_name %}
{% else %}
    {% set NAME = 'field[' ~ field_uid ~ ']' %}
    {% set ID = 'input-field' ~ field_uid %}
{% endif%}

{% if filter_form %}
    <input type="text" value="{{ field_value }}" name="{{ NAME }}" id="{{ ID }}" class="form-control">
    
{% else %}

<div id="table_widget_{{field_uid}}" style="border: 0px solid red">
    <div class="container-fluid">
        <div class="pull-right">
            <!--<button type="button" name="btn_filter" data-toggle="tooltip" title="{{ button_filter }}" class="btn btn-default hidden-md hidden-lg"><i class="fa fa-filter"></i></button>-->
            <button type="button" name="btn_add_row"  data-toggle="tooltip" title="{{ button_add }}" class="btn btn-default"><i class="fa fa-plus"></i></button>
            <button type="button" name="btn_copy_rows" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-default" disabled="true"><i class="fa fa-copy"></i></button>
            <button type="button" name="btn_paste_rows" data-toggle="tooltip" title="{{ button_paste }}" class="btn btn-default" disabled="true"><i class="fa fa-paste"></i></button>
            <button type="button" name="btn_delete_rows" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="" disabled="true"><i class="fa fa-trash-o"></i></button>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class='table table-bordered table-hover'>
                <thead id="table_head_{{field_uid}}" class="background1">
                    <tr>
                        <td class="text-center" style="width:40px">
                            <input type="checkbox" onclick="" />
                        </td>
                        {% for column in inner_fields %}
                            <td>{{column.params.column_title[language_id]}}</td>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody id="table_body_{{field_uid}}" class="pre-scrollable">
                    {% for row_view in table_view %}
                        <tr class="pointer">
                            <td class="text-center">
                                <input type="checkbox" onclick="" />
                            </td>
                            {{row_view}}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <input type="hidden" name="{{ NAME }}" id="{{ ID }}" value='{{ field_value }}'>
</div>


<script>
    var options = {'document_uid': '{{document_uid}}', 'field_uid': '{{field_uid}}', 'language_id': '{{language_id}}'}
    $('#table_widget_{{field_uid}}').simple_table_widget(options);
</script>

{% endif %}