  
<div class="modal-header text-right">
    <div class="pull-right">
        <button type="button" class="btn btn-default" id="modal-button-add_inner" onclick="" data-loading-text="{{ text_loading }}" data-dismiss="modal"><i class="fa fa-save"></i></button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-reply"></i></button>
    </div>    
    <div class="pull-left"><h4 class="modal-title text-left">{{ text_title_field_list }}</h4></div>
</div>

<div class="modal-body">
    <div class='form-horizontal'>
        <ul class="nav nav-tabs" id="column_title_language">
            {% for language in languages %}
                <li><a href="#column_title_language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
                    {% endfor %}
        </ul>
        <div class="tab-content">
            {% for language in languages %}
                <div class="tab-pane fade" id="column_title_language{{ language.language_id }}">
                    <div class="form-group required">
                        <label class="col-sm-3 control-label" for="input-name{{ language.language_id }}">{{ entry_column_title }}</label>
                        <div class="col-sm-9">
                            <input type="text" name="field[column_title][{{ language.language_id }}]" value="{{ params.column_title[language.language_id]}}" placeholder="{{ entry_column_title }}" id="input-name{{ language.language_id }}" class="form-control save_on_change" />
                            {% if error_name[language.language_id] %}
                                <div class="text-danger">
                                    {{ error_name[language.language_id] }}
                                </div>
                            {% endif %} 
                        </div>
                    </div>
                </div>    
            {% endfor %}    
        </div>


        <div class="form-group required">
            <label class="col-sm-3 control-label">{{ entry_inner_field_type }}</label>
            <div class="col-sm-9">
                <select name="inner_field_type" id="input-inner_field_type" class="form-control">   
                    <option value ="0">{{ text_select }}</option>
                    {% for inner_field in inner_fields %}
                        {% if inner_field is not empty and inner_field.name == inner_field_type %}
                            <option value = '{{ inner_field.name }}' selected="selected">{{ inner_field.title }}</option>    
                        {% else %}    
                            <option value = '{{ inner_field.name }}'>{{ inner_field.title }}</option>
                        {% endif %}
                    {% endfor %}   
                </select>  
            </div>
        </div>
        <div id="form_inner_field">{{inner_field_form}}</div>
        <input type="hidden" name="inner_field_uid" value='{{ inner_field_uid }}'/>
    </div>    
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <button type="button" class="btn btn-default btn-block" id="modal-field-add_inner" onclick="" data-loading-text="{{ text_loading }}" data-dismiss="modal">{{ button_add }}</button>
        </div>
        <div class="col-md-3 col-sm-6">
            <div style="margin-top: 15px;" class="visible-xs"></div>
            <span class="btn btn-default btn-block" data-dismiss="modal">{{ button_cancel }}</button>
        </div>
    </div>
</div>


<script type="text/javascript">
    $('#column_title_language a:first').tab('show');
    $('select[name=\'inner_field_type\']').on('change', function () {
        $('#form_inner_field').html('');
        var inner_field_type = $('select[name=\'inner_field_type\']').val();
        if (inner_field_type === "0") {
            return;
        }

        $.ajax({
            url: 'index.php?route=extension/field/table/getInnerFieldForm&route_uid={{ route_uid }}&context={{ context }}&field_type=' + inner_field_type + '&doctype_uid={{doctype_uid}}',
            dataType: 'html',
            success: function (html) {
                $('#form_inner_field').html('<hr>' + html);
            }
        });
    });
</script>