{% if filter_view %} {#вывод в фильтры журнала, таблицу не выводим#}
    {{ field_value }}
{% else %}

<div class="panel-body">
        <div class="table-responsive">
            <table class='table table-bordered table-hover'>
                <thead id="table_head_{{field_uid}}" class="background1">
                    <tr>
                        {% for column in inner_fields %}
                            <td>{{column.params.column_title[language_id]}}</td>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody id="table_body_{{field_uid}}" class="pre-scrollable">
                    {% for row_view in table_view %}
                        <tr>
                            {{row_view}}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endif %}                