{#    если установлена filter_form - нужна компактная форма, используется, к примеру, в фильтрах журналов #}
{#    если установлена widget_name - это имя поля #}
{% if filter_form %}
<input type="text" name="{% if widget_name %}{{ widget_name }}{% else %}field[{{ field_uid }}]{% endif%}" id="{% if widget_name %}input-{{ widget_name }}{% else %}input-field{{ field_uid }}{% endif%}" class="form-control" value="{{ field_value }}">
{% else %}    
<input type="text" name="{% if widget_name %}{{ widget_name }}{% else %}field[{{ field_uid }}]{% endif%}" id="input-field{{ field_uid }}" class="form-control" value="{{ field_value }}">
<script type="text/javascript">
    decimalmark = ".";
    {%if delimiter == "" %}delimiter = "";{%endif%}
    {%if delimiter == " " %}delimiter = " ";{%endif%}
    {%if delimiter == "." %}delimiter = ".";decimalmark = ",";{%endif%}
    {%if delimiter == "," %}delimiter = ",";{%endif%}

        var cleave = new Cleave('#input-field{{ field_uid }}', {
            numeral: true,
            numeralThousandsGroupStyle: 'thousand',
            numeralDecimalMark: decimalmark,
            delimiter: delimiter,
            numeralDecimalScale: 0
        });
        
        //Окрашиваем текст поля в красный цвет, если число больше, чем максимально допустимое
        //Окрашиваем текст поля в синий цвет, если число меньше, чем минимально допустимое
        {%if (min or max) %}
        var defcolint =  $("#input-field{{ field_uid }}").css("color");
        $("#input-field{{ field_uid }}").on("keyup", function () {
            var max = "{{max}}";
            var min = "{{min}}";
            var val = ($(this).val()).replace(/[., ]/g, "");
            if (val) {
                if (max && +max < +val) {
                    $(this).css("color", "red");
                }
                else if (min && +min > +val) {
                    $(this).css("color", "blue");
                }
                else {
                    $(this).css("color", defcolint);
                }
            }
        });
        $("#input-field{{ field_uid }}").on("blur", function () {
            //перед отправкой на сервер проверяем мин/макс значения
            var max = "{{ max }}";
            var min = "{{ min }}";
            var val = ($(this).val()).replace(/[., ]/g, "");
            if (val) {
                if ((max && +max < +val)) {
                    $(this).val(max);
                }
                else if (min && +min > +val) {
                    $(this).val(min);
                }
            }    
            $(this).css("color", defcolint);
        });         
        {%endif%}
        
        //AutoNumberic отвратно работает с минимальным и максимальным значениями
        /*new AutoNumeric('#input-field{{ field_uid }}', {
         decimalCharacter: decimalmark, 
         digitGroupSeparator: delimiter,
         {%if min %}minimumValue: {{min}},{%endif%}
         {%if max %}maximumValue: {{max}},{%endif%}
         decimalPlaces: 0
         });*/
</script>
{% endif %}