
{% if params.autopress_button_uid %}
<script type="text/javascript">
    $('#document_form').hide();
    $('#document_toolbar').hide();
    if ($('#button{{ params.autopress_button_uid }}') !== 'undefined') {
        $('#button{{ params.autopress_button_uid }}').trigger('click');
    }
</script>
{% endif %}    
