{% set unique = random() %}
{% if widget_name is not empty %}
    {% set NAME = widget_name %}
    {% set ID = 'input-field_table' ~ widget_name %}
{% else %}
    {% set NAME = 'field[' ~ field_uid ~ ']' %}
    {% set ID = 'input-field_file' ~ field_uid %}
{% endif%}

{% if filter_form %}
    <input type="text" name="{{ NAME }}" class="form-control">
{% else %}    
<div id="field_files_{{ ID }}">
    {% if files is empty %}
        {{ text_no_files }}
        <input type="hidden" name="{{ NAME }}[]" value=""/>
    {% endif %}
</div>   

{% if files is not empty %}
<table class="table table-hover" id="table-field_file{{ ID }}">    
    {% for file in files %}
    <tr id="tbl_field_file{{ file.file_uid }}">
        <td>{% if file.link_preview is not empty %}<img src="{{ file.link_preview }}">{% endif%}</td>
        <td>{{ file.file_name }}<input type="hidden" name="{{ NAME }}[]" value="{{ file.file_uid }}"/></td>
        <td class="text-right"><span name="button-field_file_remove_file_{{ unique }}" class="btn"><i class="fa fa-remove"></i></span></td>
    </tr>    
    {% endfor %}    
</table>
{% endif %}    

<form id="form-{{ NAME }}" enctype="multipart/form-data" method="post">
  <div class="btn btn-success fileup-btn">
        {% if limit_files == 1 %}
        {{ button_select_file }}
        {% else %}    
        {{ button_select_files }}
        {% endif %}
        <input type="file" id="upload-{{ unique }}" {% if limit_files != 1 %}multiple{% endif %}>
    </div>

    <div id="upload-{{ unique }}-queue" class="queue"></div>
</form>

<script>
$('span[name=\'button-field_file_remove_file_{{ unique }}\']').on('click', function(){
    $(this).parent().parent().remove();
    if ($('input[name=\'{{ NAME }}[]\']').length === 0) {
        $('#field_files_{{ ID }}').html('{{ text_no_files }}<input type="hidden" name="{{ NAME }}[]" value=""/>');
        $('#field_files_{{ ID }}').removeClass();
    }
});    
$.fileup({
    i18n: { {{ locale_widget_messages }} },
    url: 'index.php?route=field/file/upload&field_uid={{ field_uid }}&document_uid={{ document_uid }}',
    lang: 'en',
    field_name: '{{ NAME }}',
    field_id:'{{ ID }}',
    inputID: 'upload-{{ unique }}',
    dropzoneID: 'upload-{{ unique }}-dropzone',
    queueID: 'upload-{{ unique }}-queue',
    filesLimit: {{ limit_files }},
    sizeLimit:  {{ size_file }},
    onSelect: function(file) {
        $('#multiple .control-button').show();
    },
    onRemove: function(file, total) {    
        $.ajax({
            url: 'index.php?route=field/file/remove&file_uid=' + $('#input-file-{{ NAME }}_' + file.file_number).val(),
            cache: false
        });
        $('#input-file-{{ NAME }}_' + file.file_number).remove();
        if (file === '*' || total === 1) {
            $('#multiple .control-button').hide();
        }
        if ($('input[name=\'{{ NAME }}[]\']').length === 0) {
            $('#field_files_{{ ID }}').html('{{ text_no_files }}<input type="hidden" name="{{ NAME }}[]" value=""/>');
            $('#field_files_{{ ID }}').removeClass(); //некоторые действия могут добавлять классы (н-р, Диалог)
        }

    },
    onSuccess: function(response, file_number, file) {
        $('#field_files_{{ ID }}').html('');
        $('#field_files_{{ ID }}').removeClass();
    },
    onError: function(event, file, file_number) {                
    },

});

</script>
{% endif %}