{% for file in field_value %}
    {% if file.preview %}
    {% if file.preview_link %}
    <a href="{{ file.preview_link }}" target="_blank"><img src="{{ file.link }}"></a>
    {% else %} 
    <img src="{{ file.link }}">   
    {% endif %}
    {% else %}    
    <a href="{{ file.link }}"  target="_blank">{{ file.name }}</a>
    {% endif %}
    {% if not loop.last %}{{ delimiter }}{% endif %}
{% endfor %}    