{#    если установлена filter_form - нужна компактная форма, используется, к примеру, в фильтрах журналов #}
{#    если установлена widget_name - это имя поля #}
<script language="javascript" src="view/javascript/field/datetime/datetime.js"></script>
{% set unique = random() %}
{% if widget_name %}
    {% set ID='input-field_datetime' ~ unique %}
    {% set NAME=widget_name %}
{% else %}
    {% set ID='input-field_datetime' ~ field_uid %}
    {% set NAME='field[' ~ field_uid ~ ']' %}
{% endif%}
<input type="text" name="{{ NAME }}" id="{{ ID }}" class="form-control" value="{{ field_value }}">
<script type="text/javascript">
    if (typeof functions !== "undefined") {
        functions.push(function () { datetime_clear_field('{{ ID }}') }); //перед отправкой на сервер удаляем маску
    }

    $.datetimepicker.setLocale('{{code}}');
    $('input[id=\'{{ ID }}\']').datetimepicker({
        {%if code != "en" %} 
            i18n: {
            {{ code }}: {
                months: [
                    '{{January}}', '{{February}}', '{{March}}', '{{April}}', '{{May}}', '{{June}}', '{{July}}', 
                    '{{August}}', '{{September}}', '{{October}}', '{{November}}', '{{December}}'
                ],
                dayOfWeek: [
                    '{{Monday}}', '{{Tuesday}}', '{{Wednesday}}', '{{Thursday}}', '{{Friday}}', '{{Saturday}}', '{{Sunday}}'
                ]
            }
        },
        {% endif %}
        lang: '{{code}}',
        timepicker: '{{format}}'.search(/[His]/) >= 0 ? true : false,
        datepicker: '{{format}}'.search(/[dmY]/) >= 0 ? true : false,
        format: '{{format}}',
        scrollMonth: false,
        validateOnBlur: false,//неверно проверяет формат Y-m (после потери фокуса - тек дата)
        {%if code == "ru" %} dayOfWeekStart: 1, {% endif %}
        mask: true,

    });

</script>