{{ header }}
<div id="account-account" class="container" style="height: 85vh;">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  <div class="row">{{ column_left }}

    <div id="content" class="{{ class }}">{{ content_top }}
      <h2>CID = {{ customer_id }}</h2> 
      <h2>SID = {{ structure_id }}</h2> 
      <h2>{{ text_my_account }}</h2>
    </div>
  </div>  
</div>
{{ footer }}