{% if header is not empty %}
    {{ header }}
{% else %}    
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-Control" content="no-cache">
<title>{{ text_system }}</title>

<script src="view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="view/theme/default/stylesheet/bootstrap.css" rel="stylesheet" media="screen" />
<script src="view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">

</head>
<body>
{% endif %}

<div id="account-login" class="container">

  {% if success %}
  <br>    
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  {% if error_warning %}
  <br>    
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
        <br><br>
      <div class="row">
        <div class="col-sm-3"></div>  
        <div class="col-sm-6">
          <div class="well">
            <p><strong>{{ text_i_am_returning_customer }}</strong></p>
            <form action="{{ action }}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="control-label" for="input-email">{{ entry_email }}</label>
                    <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="input-password">{{ entry_password }}</label>
                    <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control"/>
                    {#<a href="{{ forgotten }}">{{ text_forgotten }}</a></div>#}
                    <br>
                    <input type="submit" value="{{ button_login }}" class="btn btn-success" />
                    {% if redirect %}
                    <input type="hidden" name="redirect" value="{{ redirect }}" />
                    {% endif %}            
                </div>
            </form>
        </div>
      </div>
      {{ content_bottom }}
      </div>
    {{ column_right }}
    </div>
</div>

{% if footer is not empty %}
    {{ footer }}
{% else %}    
</body></html>
{% endif %}