{% set row = 1 %}
<div class="form-group container-fluid">
    <div class="row">
        <label class="control-label"><span data-toggle="tooltip" title="{{ help_table_list_values }}">{{ entry_table_list_values }}:</span></label>
        <div class="pull-right"><span class="btn btn-default" id="button_add_value_list" data-toggle="tooltip" title="{{ text_button_add_value }}"><i class="fa fa-plus-circle"></i></span></div>
    </div>
    <div class="row">
        <select name="field[source_type]" class="form-control">
            <option value="table"{% if params.source_type is empty or params.source_type == "table" %}selected="selected"{% endif %}>{{ text_source_type_table }}</option>
            <option value="field"{% if params.source_type == "field" %}selected="selected"{% endif %}>{{ text_source_type_field }}</option>
        </select>    
    </div>
    <div class="row" id="list-block_source_field">
        <div class="form-group">
            <label class="col-sm-3 control-label"><span data-toggle="tooltip" title="{{ help_source_type_field }}">{{ text_select_field }}</span></label>
            <div class="col-sm-9">
                {% import "default/template/macros/field_in_field.twig" as mfield %}
                {{ mfield.show(source_field_name, params.source_field_uid, doctype_uid, 'source_field', text_macros_field) }}  
            </div>
        </div>        
        <div class="form-group">
            <label class="col-sm-3 control-label"><span data-toggle="tooltip" title="{{ help_separator_values }}">{{ entry_separator_values }}</span></label>
            <div class="col-sm-9">
                <input type="text" name="field[separator_values]" value="{% if params.separator_values is empty %}||{% else %}{{ params.separator_values }}{% endif %}" class="form-control">
            </div>
        </div>        
        <div class="form-group">
            <label class="col-sm-3 control-label"><span data-toggle="tooltip" title="{{ help_separator_value_title }}">{{ entry_separator_value_title }}</span></label>
            <div class="col-sm-9">
                <input type="text" name="field[separator_value_title]" value="{% if params.separator_value_title is empty %}::{% else %}{{ params.separator_value_title }}{% endif %}" class="form-control">
            </div>
        </div>                
    </div>
    <div class="row" id="list-block_source_table">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="table_list_values">
                <thead>
                <tr>
                    <th style="width: 50px;">{{ text_value_list_value }}</th>
                    <th>{{ text_value_list_title }}</th>
                    <th style="width: 90px;">{{ text_value_default }}</th>
                    <th style="width: 120px;">{{ text_action }}</th>
                </tr>
                </thead>
                <tbody>
                    {% if params.values is not empty %}
                    {% for value in params.values %}
                    <tr>
                        <td><input type="number" name="field[values][{{ value.value }}][value]" class="form-control" value="{{ value.value }}"></td>
                        <td><input type="text" name="field[values][{{ value.value }}][title]" value="{{ value.title }}" class="form-control"></td>
                        <td><div class="{% if params.multi_select %}checkbox{% else %}radio{% endif %} text-center"><label><input type="{% if params.multi_select %}checkbox{% else %}radio{% endif %}" name="field[default_value]{% if params.multi_select %}[]{% endif %}" {% if value.checked %}checked{% endif %} value="{{ value.value }}"></label></div></td>
                        <td> 
                            <button type="button" class="btn btn-default btn-sm" onclick="up(this);" data-toggle="tooltip" title="{{ button_up }}" data-original-title="{{ button_up }}"><i class="fa fa-arrow-up"></i></button>                      
                            <button type="button" class="btn btn-default btn-sm" onclick="down(this);" data-toggle="tooltip" title="{{ button_down }}" data-original-title="{{ button_down }}"><i class="fa fa-arrow-down"></i></button>                            
                            <button type="button" class="btn btn-default btn-sm" onclick="$(this).parent().parent().remove();" data-toggle="tooltip" title="{{ text_button_del_value }}"><i class="fa fa-remove"></i></button>
                        </td>
                        {% if value.value > row %}
                        {% set row = value.value %}
                        {% endif %}
                    </tr>                           
                    {% endfor %}    
                    {% else %}    
                    {% set row = 1 %}    
                    <tr>
                        <td><input type="number" name="field[values][1][value]" class="form-control" value="1"></td>
                        <td><input type="text" name="field[values][1][title]" class="form-control"></td>
                        <td><div class="{% if params.multi_select %}checkbox{% else %}radio{% endif %} text-center"><label><input type="{% if params.multi_select %}checkbox{% else %}radio{% endif %}" name="field[default_value]{% if params.multi_select %}[]{% endif %}" {% if value.checked %}checked{% endif %} value="{{ row }}"></label></div></td>
                        <td>
                            <button type="button" class="btn btn-default btn-sm" onclick="up(this);" data-toggle="tooltip" title="{{ button_up }}" data-original-title="{{ button_up }}"><i class="fa fa-arrow-up"></i></button>                      
                            <button type="button" class="btn btn-default btn-sm" onclick="down(this);" data-toggle="tooltip" title="{{ button_down }}" data-original-title="{{ button_down }}"><i class="fa fa-arrow-down"></i></button>                            
                            <button type="button" class="btn btn-default btn-sm" onclick="$(this).parent().parent().remove();" data-toggle="tooltip" title="{{ text_button_del_value }}"><i class="fa fa-remove"></i></button>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table> 
        </div>
    </div>    
</div>
                        
<div class="form-group">
    <label class="col-sm-3 control-label" for="select-multi_select"><span data-toggle="tooltip" title="{{ help_multi_select }}">{{ entry_multi_select }}</span></label>
    <div class="col-sm-9">
          <select name="field[multi_select]" id="select-multi_select" class="form-control">
            {% if params.multi_select %}
            <option value="1" selected="selected">{{ text_yes }}</option>
            <option value="0">{{ text_no }}</option>
            {% else %}
            <option value="1">{{ text_yes }}</option>
            <option value="0" selected="selected">{{ text_no }}</option>
            {% endif %}
          </select>
    </div>
</div>
                        
<div class="form-group">
    <label class="col-sm-3 control-label" for="select-visualization"><span data-toggle="tooltip" title="{{ help_visualization }}">{{ entry_visualization }}</span></label>
    <div class="col-sm-9">
          <select name="field[visualization]" id="select-visualization" class="form-control">
            {% if params.visualization == 1 %}
            <option value="0">{{ text_horizontal }}</option>
            <option value="1" selected="selected">{{ text_vertical }}</option>
            <option value="2">{{ text_list }}</option>
            {% elseif params.visualization == 2 %}
            <option value="0">{{ text_horizontal }}</option>
            <option value="1">{{ text_vertical }}</option>
            <option value="2" selected="selected">{{ text_list }}</option>
            {% else %}
            <option value="0" selected="selected">{{ text_horizontal }}</option>
            <option value="1">{{ text_vertical }}</option>
            <option value="2">{{ text_list }}</option>
            {% endif %}
          </select>
    </div>
</div>
                        
<script type="text/javascript">
    
    function select_type() {
        if ($('select[name=\'field\[source_type\]\']').val() == "table") {
            $('#list-block_source_field').hide();
            $('#list-block_source_table').show();
            $('#button_add_value_list').show();
        } else {
            $('#list-block_source_field').show();
            $('#list-block_source_table').hide();
            $('#button_add_value_list').hide();
        }        
    }
    
    select_type();
    $('select[name=\'field\[source_type\]\']').on('change', function(){
        select_type();
    });
    
    {% if row %}
    var row_list_value = {{ row }};
    {% else %}
    var row_list_value = 1;
    {% endif %}
    $('#button_add_value_list').on('click', function(){
        row_list_value++;
        html = '<tr><td><input type="number" name="field[values][' + row_list_value + '][value]" class="form-control" value="' + row_list_value + '"></td>';
        html += '<td><input type="text" name="field[values][' + row_list_value + '][title]" class="form-control"></td>';
        html += '<td><div class="';
        if ($('#select-multi_select').val() == '1') {
            html += 'checkbox';
        } else {
            html += 'radio';
        }
        html += ' text-center"><label><input type="';
        if ($('#select-multi_select').val() == '1') {
            html += 'checkbox';
        } else {
            html += 'radio';
        }
        html += '" name="field[default_value]';
        if ($('#select-multi_select').val() == '1') {
            html += '[]';
        }
        html += '" value="' + row_list_value + '"></label></div></td>';
        html += '<td>' + 
                '<button type="button" class="btn btn-default btn-sm" onclick="up(this);" data-toggle="tooltip" title="{{ button_up }}" data-original-title="{{ button_up }}"><i class="fa fa-arrow-up"></i></button> ' +
                '<button type="button" class="btn btn-default btn-sm" onclick="down(this);" data-toggle="tooltip" title="{{ button_down }}" data-original-title="{{ button_down }}"><i class="fa fa-arrow-down"></i></button> ' +                
                '<button type="button" class="btn btn-default btn-sm" onclick="$(this).parent().parent().remove();" data-toggle="tooltip" title="{{ text_button_del_value }}"><i class="fa fa-remove"></i></td></tr>';
        $('#table_list_values tbody').append(html);
    });
    
    function up(element) {  
        var row = $(element).parents("tr:first");
        var row2 = row.prev();
        row.insertBefore(row2);  
        $('.tooltip').hide();
    };

    function down(element) {  
        var row = $(element).parents("tr:first");    
        var row2 = row.next();
        row.insertAfter(row2);  
        $('.tooltip').hide();
    };    
    
    $('#select-multi_select').on('change', function(){
        if ($(this).val() == '1') {
            var type = "checkbox";
            var search = "radio";
            var name = "field[default_value][]";
        } else {
            var type = "radio";
            var search = "checkbox";
            var name = "field[default_value]";
        }
        $('#table_list_values :' + search).each(function(){
            $(this).prop('type', type);
            $(this).prop('name', name);
            $(this).parent().parent().removeClass(search);
            $(this).parent().parent().addClass(type);
        });
    });
</script>                        