{% set unique = random() %}
{% if widget_name is not empty %}
    {% set NAME = widget_name %}
    {% set ID = 'input-' ~ widget_name %}
{% else %}
    {% set NAME = 'field[' ~ field_uid ~ '][]' %}
    {% set ID = 'input-field' ~ field_uid %}
{% endif%}

{% if filter_form %}
   <select name="{{ NAME }}" id="{{ ID }}" class="form-control">
    {% for value in values %}            
        <option value="{{ value.value }}" {% if value.value == field_value %}selected="selected"{% endif %}>{{value.title }}</option>            
    {% endfor %}
  </select>  
    
{% else %}    

{% if visualization == 1 %}
{#  вертикальный вывод  #}
<table class="table table-hover" id="table-list_{{ unique }}">
    {% for value in values %}
    <tr>
        <td>
        {% if multi_select %}
        <label class="checkbox-inline" style="width: 100%;"><input name="{{ NAME }}" id="{{ ID }}{{ value.value }}" value="{{ value.value }}" type="checkbox" {% if field_value[value.value] is not empty %}checked{% endif %}> {{ value.title }}</label>    
        {% else %}
        <label class="radio-inline" style="width: 100%;"><input name="{{ NAME }}" id="{{ ID }}{{ value.value }}" value="{{ value.value }}" type="radio" {% if field_value[value.value] is not empty %}checked{% endif %}> {{ value.title }}</label>    
        {% endif %}
        <td>
    </tr>    
    {% endfor %}    
</table>    

{% elseif visualization == 2 %}
{#  вывод списком  #}

<select name="{{ NAME }}" id="{{ ID }}" class="form-control" {% if multi_select %}multiple{% endif %} title="{{ text_title_multiple_list }}">
    {% for value in values %}
    <option value="{{ value.value }}"{% if field_value[value.value] is not empty %} selected="selected"{% endif %}>{{ value.title }}</option>    
    {% endfor %}    
</select>    
  
{% else %}
{# горизонтальный вывод #}
{% if multi_select %}
    {% for value in values %}
    <label class="checkbox-inline"><input type="checkbox" name="{{ NAME }}" id="{{ ID }}{{ value.value }}" value="{{ value.value }}" {% if field_value[value.value] is not empty %}checked{% endif %}> {{ value.title }}</label>
    {% endfor %}
{% else %}
    {% for value in values %}
    <label class="radio-inline"><input type="radio" name="{{ NAME }}" id="{{ ID }}{{ value.value }}" value="{{ value.value }}" {% if field_value[value.value] is not empty %}checked{% endif %}> {{ value.title }}</label>
    {% endfor %}
{% endif %}    

{% endif %}    

<div id="list_null_{{ unique }}"></div>

<script type="text/javascript">
    {% if visualization != 2 %}
        var selected = $('input[name*=\'{{ NAME }}\']:checked');
        if (selected.length > 0) {
            $('#list_null_{{ unique }}').html('');
        } else {
            $('#list_null_{{ unique }}').html('<input name="{{ NAME }}" value="null" type="hidden">');
        }
 
        
        $('input[name*=\'{{ NAME }}\']').on('click', function() {
            var selected = $('input[name*=\'{{ NAME }}\']:checked');

            if (selected.length > 0) {
                $('#list_null_{{ unique }}').html('');
            } else {
                $('#list_null_{{ unique }}').html('<input name="{{ NAME }}" value="null" type="hidden">');
            }


            {% if visualization %}   
            if (this.type === 'radio') {
                $('#table-list_{{ unique }} tr').css('background-color', '');
                $(this).parent().parent().parent().css('background-color', '#eee');            
            } else {
                if (this.checked) {
                    $(this).parent().parent().parent().css('background-color', '#eee');
                } else {
                    $(this).parent().parent().parent().css('background-color', '');
                }             
            }
            {% endif %} 
        });    
    {% endif %}
</script>

{% endif %}

