<script language="javascript" src="view/javascript/action/actioncontainer/actioncontainer.js?v=1"></script>
{% if inner_action_index %}

{% endif %}

<ul class="nav nav-tabs">
    <li class="active"><a href="#condition-tab" data-toggle="tab">{{ text_tab_condition }}</a></li>
    <li><a href="#condition-tab-action_true" data-toggle="tab">{{ text_tab_actions_true }}</a></li>
    <li><a href="#condition-tab-action_false" data-toggle="tab">{{ text_tab_actions_false }}</a></li>
</ul>

<div class="tab-content">
    <!-- Условие -->
    <div class="tab-pane fade in active" id="condition-tab">

        <div class="form-horizontal">
            <div class="form-group" id="condition-first_value">    
                <label class="col-sm-3 control-label" for="input-condition-first_value_field_name"><span data-toggle="tooltip" title="{{ help_first_value }}">{{ entry_first_value }}</span></label>

                <div class="col-sm-9">    
                    <input type="text" name="first_value_field_name" id="input-condition-first_value_field_name" value='{% if action.first_value_field_uid %}{{ first_value_field_name }}{% endif %}' placeholder="{{ entry_first_value_field }}" class="form-control">
                    <input type="hidden" name="action[first_value_field_uid]" value='{{ action.first_value_field_uid }}'>
                    <select name="action[first_value_field_getter]" id="select-condition-first_value_field_getter" class="form-control">
                        <option value ='' {% if not action.first_value_field_getter %} selected='selected' {% endif %}> {{ text_default_method }}</option>
                        {% for getter in first_value_field_avaliable_getters %}
                            <option value="{{ getter.name }}" {% if action.first_value_field_getter == getter.name %} selected='selected' {% endif %}>{{ getter.alias }}</option>
                        {% endfor %}
                    </select>
                </div>  

            </div>
            <div class="form-group" id="condition-first_value_field_getter_form">
                {{ first_value_field_getter_form }}
            </div>

            <div class="form-group" id="condition-comparison_method">    
                <label class="col-sm-3 control-label" for="input-second_value_type"><span data-toggle="tooltip" title="{{ help_comparison_method }}">{{ text_comparison_method }}</span></label>
                <div class="col-sm-9">    
                    <select name="action[comparison_method]" id="select-condition-comparison_method" class="form-control">
                        <option value="equal"{% if action.comparison_method == 'equal' %} selected="selected" {% endif %}>{{ text_condition_equal }}</option>
                        <option value="notequal"{% if action.comparison_method == 'notequal' %} selected="selected" {% endif %}>{{ text_condition_notequal }}</option>
                        <option value="more"{% if action.comparison_method == 'more' %} selected="selected" {% endif %}>{{ text_condition_more }}</option>
                        <option value="moreequal"{% if action.comparison_method == 'moreequal' %} selected="selected" {% endif %}>{{ text_condition_moreequal }}</option>

                        <option value="less"{% if action.comparison_method == 'less' %} selected="selected" {% endif %}>{{ text_condition_less }}</option>
                        <option value="lessequal"{% if action.comparison_method == 'lessequal' %} selected="selected" {% endif %}>{{ text_condition_lessequal }}</option>
                        <option value="contains"{% if action.comparison_method == 'contains' %} selected="selected" {% endif %}>{{ text_condition_contains }}</option>
                        <option value="notcontains"{% if action.comparison_method == 'notcontains' %} selected="selected" {% endif %}>{{ text_condition_notcontains }}</option>
                    </select>   
                </div>    
            </div>     

            <div class="form-group" id="condition-second_value">    
                <label class="col-sm-3 control-label" for="input-condition-second_type_value"><span data-toggle="tooltip" title="{{ help_second_value }}">{{ entry_second_value }}</span></label>
                <div class="col-sm-9">     
                    <select name="action[second_type_value]" id="input-condition-second_type_value" class="form-control">
                        <option value="0" {% if not second_type_value %}selected="selected"{% endif %}>{{ text_field }}</option>
                        <option value="1" {% if second_type_value == 1 %}selected="selected"{% endif %}>{{ text_manual_input }}</option>
                        <option value="2" {% if second_type_value == 2 %}selected="selected" {% endif %}>{{ text_variable }}</option>
                    </select>
                    <span id="condition-block_second_field">
                        <label class="radio-inline"><input type="radio" name="second_value_field_type" checked="checked" value="0">{{ text_macros_field['simple'] }}</label>
                        <label class="radio-inline"><input type="radio" name="second_value_field_type" value="1">{{ text_macros_field['setting'] }}</label>

                        <input type="text" name="second_value_field_name" id="input-condition-second_value_field_name" value='{% if action.second_value_field_uid %}{{ second_value_field_name }}{% endif %}' placeholder="{{ entry_second_value_field }}" class="form-control">
                        <input type="hidden" name="action[second_value_field_uid]" value='{{ action.second_value_field_uid }}'>
                        <select name="action[second_value_field_getter]" id="select-condition-second_value_field_getter" class="form-control">
                            <option value ='' {% if not action.second_value_field_getter %} selected='selected' {% endif %}> {{ text_default_method }}</option>
                            {% for getter in second_value_field_avaliable_getters %}
                                <option value="{{ getter.name }}" {% if action.second_value_field_getter == getter.name %} selected='selected' {% endif %}>{{ getter.alias }}</option>
                            {% endfor %}
                        </select>


                    </span> 
                    <span id="condition-block_second_manual"></span>    
                    <span id="condition-block_second_variable">
                        <select name="action[second_value_var]" id="select-condition-second_value_var" class="form-control">
                            {% for value,name in vars %}
                                <option value="{{ value }}"{% if action.second_value_var == value %} selected="selected"{% endif %}>{{ name }}</option>
                            {% endfor %}
                        </select>
                    </span>    
                </div>  
                <div class="" id="condition-second_value_field_getter_form">
                    {{ second_value_field_getter_form }}
                </div>

            </div>



        </div>


    </div>

    <div class="tab-pane fade" id="condition-tab-action_true">
        <div id='condition-inner_actions_true'>
        </div>  
        <div class="text-info" style='padding-top: 4px; padding-bottom: 4px;border-top: 1px solid #ddd'>{{ text_add_action }} :
            <span class="btn btn-default" onclick="inner_actions_true.editAction()" 
                  data-toggle="tooltip" title="{{ text_add_button }}" data-original-title="{{ text_add_button }}">
                <i class="fa fa-plus-circle"></i>
            </span>
        </div> 
    </div>

    <div class="tab-pane fade" id="condition-tab-action_false">
        <div id='condition-inner_actions_false'>
        </div>
        <div class="text-info" style='padding-top: 4px; padding-bottom: 4px;border-top: 1px solid #ddd'>{{ text_add_action }} :
            <span class="btn btn-default" onclick="inner_actions_false.editAction()" 
                  data-toggle="tooltip" title="{{ text_add_button }}" data-original-title="{{ text_add_button }}">
                <i class="fa fa-plus-circle"></i>
            </span>
        </div> 
    </div>


</div>
<input type="hidden" name="action[inner_actions_true]" value='{{ action.inner_actions_true }}'>
<input type="hidden" name="action[inner_actions_false]" value='{{ action.inner_actions_false }}'>
<input type="hidden" name="inner_actions_descriptions_true" value='{{ inner_actions_description_true }}'>
<input type="hidden" name="inner_actions_descriptions_false" value='{{ inner_actions_description_false }}'>

<script>


    var inner_actions_true = new ActionContainer('condition', 'input[name=\'action[inner_actions_true]\']', '#condition-inner_actions_true', 'input[name=\'inner_actions_descriptions_true\']', '{{ doctype_uid }}', 'true');
    inner_actions_true.initac();
    var inner_actions_false = new ActionContainer('condition', 'input[name=\'action[inner_actions_false]\']', '#condition-inner_actions_false', 'input[name=\'inner_actions_descriptions_false\']', '{{ doctype_uid }}', 'false');
    inner_actions_false.initac();
    //inner_actions_false = {};



    function ReloadConditionParamFieldMethodList(selector, methodtype, field_uid, value) {
        if (field_uid === 0) {
            $(selector).html('');
            $(selector).append($('<option>', {
                value:
                    '',
                text: '{{ text_default_method }}'
            }));
            $(selector).val = value;
            return;
        }
        var url = 'index.php?route=doctype/doctype/get_field_methods&field_uid=' + field_uid + '&method_type=' + methodtype;
        $.ajax({
            url: url,
            dataType: 'json'
        }).done(function (data) {
            if (data) {
                data.unshift({
                    name: '',
                    alias: '{{ text_default_method }}'
                });
            } else {
                data = [{'name': '', alias: '{{ text_default_method }}'}]
            }
            $(selector).html('');
            data.forEach(function (item, i, data) {
                $(selector).append($('<option>', {
                    value: item['name'],
                    text: item['alias']
                }));
            })
            $(selector).val(value);
        }); //end ajax
    }

    $('input[name=\'first_value_field_name\']').autocomplete({
        'source': function (request, response) {
            $.ajax({
                url: 'index.php?route=doctype/doctype/autocomplete_field&filter_name=' + encodeURIComponent(request) + '&doctype_uid={{ doctype_uid }}',
                dataType: 'json',
                success: function (json) {
                    json.unshift({
                        field_uid: 0,
                        name: '{{ text_none }}'
                    });
                    response($.map(json, function (item) {
                        var result = {
                            value: item['field_uid'],
                            label: item['name']
                        };
                        if (item['field_uid'] > 0) {
                            if (item['setting'] === "1") {
                                result['setting'] = 1;
                                result['label'] = '<span style="font-style:italic">' + item['name'] + '</span>';
                            } else {
                                result['label'] = item['name'];
                            }
                        }
                        return result;
                    }));
                } //end success
            }); //end ajax
        }, //end source   
        'select': function (item) {
            if (item['value']) {
                var label = item['label'];
                if (item['setting'] === 1) {
                    $('input[name=\'first_value_field_name\']').css("font-style", "italic");
                    label = label.replace('<span style="font-style:italic">', '').replace('</span>', '').trim();
                } else {
                    $('input[name=\'first_value_field_name\']').css("font-style", "");
                }
                if ($('input[name=\'action[first_value_field_uid]\']').val() !== item['value']) {
                    ReloadConditionParamFieldMethodList('select[name=\'action[first_value_field_getter]\']', 'getter', item['value']);
                    $('select[name=\'action[first_value_field_getter]\']').val('');
                    $('#condition-first_value_field_getter_form').html('');
                }
                $('input[name=\'first_value_field_name\']').val(label);
                $('input[name=\'action[first_value_field_uid]\']').val(item['value']);
                if ($('#input-condition-second_type_value').val() == "1") {
                    //изменили поле, перезагружаем виджет
                    var value = $('input[name=\'action[field_widget_value]\']').val();
                    if (!value) {
                        value = $('select[name=\'action[field_widget_value]\']').val();
                    }
                    if (!value) {
                        value = $('textarea[name=\'action[field_widget_value]\']').val();
                    }

                    if (value !== undefined) {
                        ReloadConditionSecondFieldWidget($('input[name=\'action[first_value_field_uid]\']').val(), value);
                    } else {
                        ReloadConditionSecondFieldWidget($('input[name=\'action[first_value_field_uid]\']').val(), '');
                    }
                }
            } else {
                ReloadConditionParamFieldMethodList('select[name=\'action[first_value_field_getter]\']', '', 0, '');
                $('input[name=\'first_value_field_name\']').val('');
                $('input[name=\'action[first_value_field_uid]\']').val('');
            }
        }
    });

    $('input[name=\'second_value_field_name\']').autocomplete({
        'source': function (request, response) {
            if ($('input[name=\'second_value_field_type\']:checked').val() == '1') {
                var doctype_uid = '0';
            } else {
                var doctype_uid = '{{ doctype_uid }}';
            }
            $.ajax({
                url: 'index.php?route=doctype/doctype/autocomplete_field&filter_name=' + encodeURIComponent(request) + '&doctype_uid=' + doctype_uid + '&setting=' + $('input[name=\'second_value_field_type\']:checked').val(),
                dataType: 'json',
                success: function (json) {
                    json.unshift({
                        field_uid: 0,
                        name: '{{ text_none }}'
                    });
                    response($.map(json, function (item) {
                        var result = {
                            value: item['field_uid'],
                            label: item['name']
                        };
                        if (item['field_uid'] > 0) {
                            if (item['setting'] === "1") {
                                result['setting'] = 1;
                                result['label'] = '<span style="font-style:italic">' + item['name'] + '</span>';
                            } else {
                                result['label'] = item['name'];
                            }
                        }
                        return result;
                    }));
                } //end success
            }); //end ajax
        }, //end source   
        'select': function (item) {
            if (item['value']) {
                var label = item['label'];
                if (item['setting'] === 1) {
                    $('input[name=\'second_value_field_name\']').css("font-style", "italic");
                    label = label.replace('<span style="font-style:italic">', '').replace('</span>', '').trim();
                } else {
                    $('input[name=\'second_value_field_name\']').css("font-style", "");
                }
                if ($('input[name=\'action[second_value_field_uid]\']').val() !== item['value']) {
                    ReloadConditionParamFieldMethodList('select[name=\'action[second_value_field_getter]\']', 'getter', item['value']);
                    $('select[name=\'action[second_value_field_getter]\']').val('');
                    $('#condition-second_value_field_getter_form').html('');
                }
                $('input[name=\'second_value_field_name\']').val(label);
                $('input[name=\'action[second_value_field_uid]\']').val(item['value']);
            } else {
                ReloadConditionParamFieldMethodList('select[name=\'action[second_value_field_getter]\']', '', 0, '');
                $('input[name=\'second_value_field_name\']').val('');
                $('input[name=\'action[second_value_field_uid]\']').val('');
            }
        }
    });

    //загрузка формы геттера первого поля
    $('select[name=\'action[first_value_field_getter]\']').on('change', function () {
        $('#condition-first_value_field_getter_form').html('');
        var field_uid = $('input[name=\'action[first_value_field_uid]\']').val();
        var url = 'index.php?route=doctype/doctype/get_field_method_form&method=' + encodeURIComponent(this.value) + '&field_uid=' + field_uid + '&method_params_name_hierarchy=[first_value_method_params]&doctype_uid={{ doctype_uid }}';
        $.ajax({
            url: url,
            dataType: 'json',
            success: function (html) {
                if (html !== "") {
                    $('#condition-first_value_field_getter_form').html(html);
                }
            }
        });
    });

    //загрузка формы геттера второго поля
    $('select[name=\'action[second_value_field_getter]\']').on('change', function () {
        $('#condition-second_value_field_getter_form').html('');
        var field_uid = $('input[name=\'action[second_value_field_uid]\']').val();
        var url = 'index.php?route=doctype/doctype/get_field_method_form&method=' + encodeURIComponent(this.value) + '&field_uid=' + field_uid + '&method_params_name_hierarchy=[second_value_method_params]&doctype_uid={{ doctype_uid }}';
        $.ajax({
            url: url,
            dataType: 'json',
            success: function (html) {
                if (html !== "") {
                    $('#condition-second_value_field_getter_form').html(html);
                }
            }
        });
    });
    if ($('#input-condition-second_type_value').val() == "0") {
        $('#condition-block_second_field').show();
        $('#condition-second_value_field_getter_form').show();
        $('#condition-block_second_manual').hide();
        $('#condition-block_second_variable').hide();
    } else if ($('#input-condition-second_type_value').val() == "1") {
        var field_method = $('#select-condition-first_value_field_getter').val();
        ReloadConditionSecondFieldWidget($('input[name=\'action[first_value_field_uid]\']').val(), '{{ field_widget_value }}', field_method);
        $('#condition-block_second_field').hide();
        $('#condition-block_second_variable').hide();
        $('#condition-block_second_manual').show();
        $('#condition-second_value_field_getter_form').hide();
    } else {
        $('#condition-block_second_field').hide();
        $('#condition-second_value_field_getter_form').hide();
        $('#condition-block_second_manual').hide();
        $('#condition-block_second_variable').show();
        
    }
        
    $('#input-condition-second_type_value').on('change', function () {
        if ($(this).val() == "0") {
            $('#condition-block_second_field').show();
            $('#condition-second_value_field_getter_form').show();
            $('#condition-block_second_manual').hide();
            $('#condition-block_second_variable').hide();
        } else if ($(this).val() == "1") {
            var field_method = $('#select-condition-first_value_field_getter').val();
            ReloadConditionSecondFieldWidget($('input[name=\'action[first_value_field_uid]\']').val(), '', field_method);
            $('#condition-block_second_field').hide();
            $('#condition-second_value_field_getter_form').hide();
            $('#condition-block_second_manual').show();
            $('#condition-block_second_variable').hide();
        } else {
            $('#condition-block_second_field').hide();
            $('#condition-second_value_field_getter_form').hide();
            $('#condition-block_second_manual').hide();
            $('#condition-block_second_variable').show();            
        }
    });


    function ReloadConditionSecondFieldWidget(field_uid, field_value, field_method) {
        selector = '#condition-block_second_manual';
        if (field_method) {
            var html = "<input type='text' name=action[field_widget_value] value='" + field_value + "' class='form-control'/>";
            $(selector).html(html);
            return;
        }
        if (!field_uid) {
            $(selector).html('');
            return;
        }
        var url = 'index.php?route=doctype/doctype/get_field_widget&field_uid=' + field_uid + '&widget_name=action[field_widget_value]';
        if (field_value) {
            url += '&field_value=' + encodeURI(field_value);
        }
        $.ajax({url: url, cache: false, dataType: 'html'}).done(function (html) {
            $(selector).html(html);
        }); //end ajax
    }

    $('#select-condition-first_value_field_getter').on('change', function () {
        if ($('#input-condition-second_type_value').val() == "1") {
            var value = $('input[name=\'action[field_widget_value]\']').val();
            ReloadConditionSecondFieldWidget($('input[name=\'action[first_value_field_uid]\']').val(), value, $(this).val());
        }
    });

    //из-за второго модального окна теряется скролл, исправляем        
    $(document).on('hidden.bs.modal', function (event) {
        if ($('.modal:visible').length) {
            $('body').addClass('modal-open');
        }
    });


</script>