<hr>
<div class="form-group">
    <label class="col-sm-3 control-label" for="input-field_document_name"><span data-toggle="tooltip" title="{{ help_field_document }}">{{ entry_field_document }}</span></label>
    <div class="col-sm-9">     
        {% import "default/template/macros/field_in_action_uid.twig" as mfield %}
        {{ mfield.show(field_document_name, action.field_document_uid, doctype_uid, 'field_document', text_macros_field) }}        
        
       {# <input type="text" name="field_document_name" id="input-field_document_name" value="{{ field_document_name }}" placeholder="{{ entry_field_document }}" class="form-control" {% if field_document_setting %} style="font-style:italic" {% endif %}>
        <input type="hidden" name="action[field_document_uid]" value="{{ action.field_document_uid }}">#}
    </div>    
</div>
 

{#        
<script type="text/javascript">
    
    $('input[name=\'field_document_name\']').autocomplete({
        'source': function (request, response) {
            if (request === '{{ text_select }}') request = '';
            var regexp = new RegExp('{{ text_by_link_in_field }}');
            request = request.replace(regexp, '').trim().replace(/\"/g, '');
            $.ajax({
                url: 'index.php?route=doctype/doctype/autocomplete_field&filter_name=' + encodeURIComponent(request) + '&doctype_uid={{ doctype_uid }}',
                dataType: 'json',
                cache: false,
                success: function (json) {
                    json.unshift({
                        field_uid: 0,
                        name: '{{ text_none }}'
                    });
                    response($.map(json, function (item) {
                        var result = {
                            value: item['field_uid'],
                            label: item['name']
                        };
                        if (item['field_uid'] > 0) {
                            if (item['setting'] === "1") {
                                result['setting'] = 1;
                                result['label'] = '<span style="font-style:italic">{{ text_by_link_in_field }} "' + item['name'] + '"</span>';
                            } else {
                                result['label'] = '{{ text_by_link_in_field }} "' + item['name'] + '"';
                            }
                        }
                        return result;
                    }));
                } //end success
            }); //end ajax
        }, //end source   
        'select': function (item) {
            if(item['value']) {
                var label = item['label'];
                if (item['setting'] === 1) {
                    $('input[name=\'field_document_name\']').css("font-style", "italic");
                    label = label.replace('<span style="font-style:italic">', '').replace('</span>', '').trim();
                } else {
                    $('input[name=\'field_document_name\']').css("font-style", "");
                }
                if ($('input[name=\'action[field_document_uid]\']').val() !== item['value']) {
                    $('input[name=\'field_document_name\']').val('');
                    $('input[name=\'action[field_document_uid]\']').val('');
                }
                $('input[name=\'field_document_name\']').val(label);
                $('input[name=\'action[field_document_uid]\']').val(item['value']);                
            } else {
                $('input[name=\'field_document_name\']').val('');
                $('input[name=\'action[field_document_uid]\']').val('');                
            }
        }
    });

  
</script>    #}
        
        
        