<footer>
  <div class="container"><a href="http://forum.detrix.kz" target="_blank">{{ text_project }}</a>|<a href="http://forum.detrix.kz/viewtopic.php?f=19&t=9254" target="_blank">{{ text_documentation }}</a>|<a href="http://forum.detrix.kz/" target="_blank">{{ text_support }}</a><br />
    </div>
</footer>
</body></html>