<div id="document_toolbar">
    <span class="btn btn-default shadow2" id="button-save_document" onclick="save_document();" data-toggle="tooltip" title="{{ button_save }}" data-loading-text="{{ text_loading }}"><i class="fa fa-save"></i> {{ button_save }}</span>
    <span class="btn btn-default shadow2" onclick="cancel_edit();" data-toggle="tooltip" title="{{ button_cancel }}"><i class="fa fa-reply"></i> {{ button_cancel }}</span>
    <div id="block_loading">&nbsp;&nbsp;&nbsp;{{ text_loading }}&nbsp;&nbsp;&nbsp;</div>    
</div>    

<script type="text/javascript">
    var field_functions = []; 
    var draft_doc = {};
    if (typeof hide_toolbar === 'undefined' || !hide_toolbar) {
        $('#folder_toolbar').show();
    } else {
        $('#folder_toolbar').remove();
    }      
    function save_document() {
        $('.tooltip').hide();
        if ($('#button-save_document').attr('disabled')) {
            return false;
        }        
        if (field_functions.length > 0) {
           $.each(field_functions, function(){
               this();
           });            
        }        
        $.ajax({
            url: 'index.php?route=document/{% if folder_uid is empty %}document{% else %}folder{% endif %}/button&button_uid={{ button_uid }}&{% if folder_uid is empty %}document_uid={{ document_uid }}{% else %}document_uids={{ document_uid }}{% endif %}',
            type: 'post',
            data: $('#document_form input[type=\'text\'], #document_form input[type=\'number\'], #document_form input[type=\'password\'], #document_form input[type=\'hidden\'], #document_form input[type=\'radio\']:checked, #document_form input[type=\'checkbox\']:checked, #document_form select, #document_form textarea'),
            dataType: 'json',
            beforeSend: function(xhr) { 
                $('#block_loading').show();
                $('#button-save_document').attr('disabled','disabled');                 
            },               
            success: function(json) {
                if(json['append']) {
                    //какое-то действие, запущенное через контекст создания, добавляет контент к странице
                    $.each(json['append'],function(){
                        $('body').append(this);
                    });
                }                                     
                if (json['redirect']) {
                    if (getURLVar('folder_uid') && json['redirect'].indexOf('document_uid') >= 0) {
                        //load_table(table_params);
                        history_cache_actual = 0;
                        load_url(json['redirect'] + '&folder_uid=' + getURLVar('folder_uid'));
                    } else {
                        if (json['append']) {   
                            //к текущей страницы добавили контент, проверяем на открытое модальное окно
                            if ($('body').hasClass('modal-open')) { //делаем редирект после закрытия окна
                                $(document).on('hide.bs.modal', '.modal', function () {
                                    if ($('.modal:visible').length < 2) {
                                        window.location.href = json['redirect'];
                                    }

                                });
                            } else {
                                window.location.href = json['redirect'];
                            }                               
                        } else {
                            window.location.href = json['redirect'];
                        }
                    }    
                } else if (json['reload']) {
                    $('#button-save_document').removeAttr('disabled');
                    if (getURLVar('folder_uid')) {
                        history_cache_actual = 0;
{#                            load_table(table_params,'');#}
                        load_table_cache();
                    } else {
                        window.location.replace(json.reload);
                    }                     
                } else if (json['error']) {
                    $('#button-save_document').removeAttr('disabled');
                    $('#document_toolbar .alert').remove();
                    $('#block_loading').hide();
                    $('#document_toolbar').append('<div class="alert alert-danger" style="margin-top:5px;">' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }
                
            }
        });            
    };
    
    function remove_draft() {
        $.ajax({
            url: 'index.php?route=document/{% if folder_uid is empty %}document{% else %}folder{% endif %}/button&button_uid={{ button_uid }}&{% if folder_uid is empty %}document_uid={{ document_uid }}{% else %}document_uids={{ document_uid }}{% endif %}&remove_draft=1',
            type: 'get',
            dataType: 'json',
            success: function(json) {
                // перезагружаем документ
                $('#document_form').html(json['replace']['document_form']);
            }
        });
    };    
    
    function save_draft() {
        $.ajax({
            url: 'index.php?route=document/{% if folder_uid is empty %}document{% else %}folder{% endif %}/button&button_uid={{ button_uid }}&{% if folder_uid is empty %}document_uid={{ document_uid }}{% else %}document_uids={{ document_uid }}{% endif %}&draft=1',
            type: 'post',
            data: $('#document_form input[type=\'text\'], #document_form input[type=\'number\'], #document_form input[type=\'password\'], #document_form input[type=\'hidden\'], #document_form input[type=\'radio\']:checked, #document_form input[type=\'checkbox\']:checked, #document_form select, #document_form textarea'),
            dataType: 'json',
            success: function(json) {
            }
        });
    };

    $(function(){ 
    });
    

    
    $.each($('.form-control'), function () {
        if (typeof $(this).attr('name') !== 'undefined' ) {
            name = $(this).attr('name').replace(/\[/g, '');
            name = name.replace(/\]/g, '');
            if (typeof $(this).attr('type') !== 'undefined' && $(this).attr('type') == "radio") {
                value = $('input[name=\'' + $(this).attr('name') + '\']:checked').val();
            } else {
                value = $(this).val();
            }
            draft_doc[name] = value;
            
        }
    });    

    $( ".form-control" ).on('change', function() {
        name = $(this).attr('name').replace(/\[/g, '');
        name = name.replace(/\]/g, '');
        if ($(this).attr('type') == "radio") {
            value = $('input[name=\'' + $(this).attr('name') + '\']:checked').val();
        } else {
            value = $(this).val();
        }
        if (draft_doc[name] != value) {
            draft_doc[name] = value;
            save_draft();
        }
    });    
    
    function cancel_edit() {
        $('#tcolumn').fadeOut(0);
        $('#document_toolbar').fadeOut(0, function() {
            for (var id in data_replace_blocks) {
                $('#' + id).html(data_replace_blocks[id]);
            }  
            data_replace_blocks = [];
            $('#document_toolbar').fadeIn(300);
            $('#tcolumn').fadeIn(300);
            $('#document_toolbar').show();   //в ФФ иногда не показывались кнопки в журнале после нажатия на Отмену 
            if (typeof hide_toolbar === 'undefined' || !hide_toolbar) {
                $('#folder_toolbar').show();
            } else {
                $('#folder_toolbar').hide();
            }                   

            
        });        
 
        $.ajax({
            url: 'index.php?route=document/{% if folder_uid is empty %}document{% else %}folder{% endif %}/button&button_uid={{ button_uid }}&{% if folder_uid is empty %}document_uid={{ document_uid }}{% else %}document_uids={{ document_uid }}{% endif %}&remove_draft=1',
            type: 'get',
            dataType: 'json'
        });
        $('.tooltip').hide();
    }
</script>    