{% if draft == 1 %}    
    <div class="text-center alert alert-info">{{ text_document_draft }} <span class="btn btn-sm btn-default" onclick="remove_draft();">{{ text_delete_document_draft }}</span></div>
{% endif %} 
{% if folder_uid is not empty %}
    <div id="document_form">
{% endif %}