{{ header }}
<div id="error-not-found" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <p>{{ text_error }}</p>
{#      <div class="buttons clearfix">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-success">{{ button_continue }}</a></div>
      </div>#}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
