{% set param_prefix = "#{method_params_prefix_hierarchy}_char_count" %}
<div class="form-group">
    <label class="col-sm-3 control-label" for="{{method_params_prefix_hierarchy}}_char_count_input-field"><span data-toggle="tooltip" title="{{ method_data.info.help_char_count }}">{{ method_data.info.entry_char_count }}</span></label>
    <div class="col-sm-9">
        <input type="text" name="action{{method_params_name_hierarchy}}[char_count][value]" id="{{method_params_prefix_hierarchy}}_char_count_input-field" class="form-control" value='{{method_params['char_count']['value']}}'>
    </div>
</div>
