<script language="javascript" src="view/javascript/field/text/text.js"></script>

{% if filter_form %}
{#    если установлена filter_form - нужна компактная форма, используется, к примеру, в фильтрах журналов #}
{#    если установлена widget_name - это имя поля #}
<input type="text" name="{% if widget_name %}{{ widget_name }}{% else %}field[{{ field_uid }}]{% endif%}" id="{% if widget_name %}input-field{{ widget_name }}{% else %}input-field{{ field_uid }}{% endif%}" class="form-control" value="{{ value }}">    
{% else %}    

<div><textarea name="{% if widget_name %}{{ widget_name }}{% else %}field[{{ field_uid }}]{% endif%}" id="input-field{{field_uid}}" 
                                data-lang="{{ code }}" class="form-control">{{value}}</textarea></div>

<script type="text/javascript">
    {% if editor_enabled %}
        if (typeof functions !== "undefined") {
            functions.push(function () { text_plus_clear_field('{{ ID }}') }); //<p><br></p> - если поле содержит эту последовательность, оно пустое
        }         
         $('#input-field{{field_uid}}').summernote({
                height: document.documentElement.clientHeight / 2,
                fontsize: ['8', '9', '10', '11', '12', '14', '16', '18', '20', '24', '30', '36', '48', '64'],
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'italic', 'underline', 'clear']],
                    ['fontsize', ['fontsize']],
                    ['fontname', ['fontname']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link']],
                    ['view', ['fullscreen', 'codeview']]
                ],
                callbacks: {
                    onBlur: function () {
                        $('textarea[name=\'{% if widget_name %}{{ widget_name }}{% else %}field[{{ field_uid }}]{% endif%}\']').trigger('change');
                    }
                }
            });
    {% endif %}

</script>

{% endif %}