<div class="form-group">
    <label class="col-sm-3 control-label" for="input-editor-enabled"><span data-toggle="tooltip" title="{{ help_editor_enabled }}">{{ entry_editor_enabled }}</span></label>
    <div class="col-sm-9">
        &nbsp;
        <input type="checkbox" name="field[editor_enabled]" id="input-editor-enabled" placeholder="{{ help_editor_enabled }}" class="form-control" value="true" {% if params.editor_enabled == "true" %} checked="true" {%endif%} />

    </div>
</div>   