  
    <div class="modal-header text-right">
        <div class="pull-right">
            <button type="button" class="btn btn-default" id="modal-button-add" onclick="add();" data-loading-text="{{ text_loadig }}"><i class="fa fa-save"></i></button>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-reply"></i></button>
        </div>    
        <div class="pull-left"><h4 class="modal-title text-left">{{ text_title_field_list }}</h4></div>
    </div>

    <div class="modal-body">
        <div class='form-horizontal'>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="input-field_name">{{ entry_field_name }}</label>
                <div class="col-sm-9">
                    <input type="text" name="field_name" id="input-field_name"  class="form-control" placeholder="{{ entry_field_name }}"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">{{ entry_field_type }}</label>
                <div class="col-sm-9">
                    <select name="field_type" id="input-field_type" class="form-control">   
                    <option value ="0">{{ text_select }}</option>
                    {% for field in fields %}
                        <option value = '{{ field.name }}'>{{ field.title }}</option>
                    {% endfor %}   
                    </select>  
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="input-change_field">{{ text_change_field }}</label>
                <div class="col-sm-9">
                    <label class="checkbox-inline"> <input type="checkbox" name="change_field" id="input-change_field" value="1"> {{ entry_change_field }}</label>
                </div>
            </div>                    
            <div id="form"></div>            
        </div>    
    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <button type="button" class="btn btn-default btn-block" id="modal-button-add" onclick="add();" data-loading-text="{{ text_loadig }}">{{ button_add }}</button>
            </div>
            <div class="col-md-3 col-sm-6">
                    <div style="margin-top: 15px;" class="visible-xs"></div>
                    <span class="btn btn-default btn-block" data-dismiss="modal">{{ button_cancel }}</button>
            </div>
        </div>
    </div>
           
           
<script type="text/javascript"><!--
$('select[name=\'field_type\']').on('change', function() {
    $('#form').html('');
    $.ajax({
	url: 'index.php?route=doctype/doctype/get_form_field&field_type=' +  encodeURIComponent(this.value),
	dataType: 'json',
	success: function(html) {
            $('#form').html('<hr>' + html);
	}
    });
});


 function add() {
        $.ajax({
            url: 'index.php?route=doctype/doctype/add_field&doctype_uid={{ doctype_uid }}' + '&setting={{ setting }}',
            type: 'post',
            data: $('#form [name^="field["][type!=\'checkbox\'][type!=\'radio\'], #input-field_name, #input-field_type, #form input[name^="field["][type=\'checkbox\']:checked, #form input[name^="field["][type=\'radio\']:checked, #input-change_field:checked'),
            dataType: 'json',
            beforeSend: function() {
                    $('#modal-button-add').button('loading');
            },            
            success: function(json) {
                //json = {"doctype_field_uid":28,"name":"string f1","field_type":"string","field_type_title":"\u0421\u0442\u0440\u043e\u043a\u043e\u0432\u043e\u0435 \u043f\u043e\u043b\u0435","params_description":"\u041c\u0430\u0441\u043a\u0430 \u0432\u0432\u043e\u0434\u0430: 9999-99; \u0417\u043d\u0430\u0447\u0435\u043d\u0438\u0435 \u043f\u043e \u0443\u043c\u043e\u043b\u0447\u0430\u043d\u0438\u044e: 2123-55"}
                setting = json['field_setting'];                
                console.log('setting='+setting);
                html = '<tr id="field-row' + json['doctype_field_uid'] + '" class="new_element">' +
                        '<td class="text-left pointer" onclick="editField(\'' + json['doctype_field_uid'] + '\',' + setting + ');"><input type="hidden" name="fields[]" value="' + json['doctype_field_uid'] + '">' + json['field_name'] + '</td>' +
                        '<td class="text-left pointer" onclick="editField(\'' + json['doctype_field_uid'] + '\',' + setting + ');">' + json['field_type_title'] + '</td>';
                if (setting===1) {
                    html += '<td  class="text-left pointer" onclick="editField(\'' + json['doctype_field_uid'] + '\',' + setting + ');" id="setting_field_value{{ field_uid }}"></td>';
                } else {
                    html += '<td class="text-left pointer" onclick="editField(\'' + json['doctype_field_uid'] + '\',' + setting + ');">' + json['params_description'] + '</td>';
                }
                html += '<td id="field-row-button' + json['doctype_field_uid'] + '" class="text-right">';        

                html += '<button type="button"  class="btn btn-default" onclick="up(this, \'move_field&field_uid=' + json['doctype_field_uid'] + '\');" data-toggle="tooltip" title="{{ button_up }}" data-original-title="{{ button_up }}"><i class="fa fa-arrow-up"></i></button> ';                     
                html += '<button type="button"  class="btn btn-default" onclick="down(this, \'move_field&field_uid=' + json['doctype_field_uid'] + '\');" data-toggle="tooltip" title="{{ button_down }}" data-original-title="{{ button_down }}"><i class="fa fa-arrow-down"></i></button> ';                
                html += '<button type="button"  class="btn btn-default" onclick="removeField(\'' + json['doctype_field_uid']+ '\',' + setting + ');" data-toggle="tooltip"><i class="fa fa-minus-circle"></i></button>' + 
                        '</td>' +
                        '</tr>';
                if (setting===1) {
                    //системное поле
                    console.log('sys');
                    $('#doctype_setting_fields tbody').append(html);
                } else {
                    console.log('unsys');
                    $('#doctype_fields tbody').append(html);
                }                
                $('#modal-afield').modal('hide');
            }
        })
    };



//--></script>