{#    если установлена filter_form - нужна компактная форма, используется, к примеру, в фильтрах журналов #}
{#    если установлена widget_name - это имя поля #}

<input type="password" name="{% if widget_name %}{{ widget_name }}{% else %}field[{{ field_uid }}]{% endif%}" id="{% if widget_name %}input-{{ widget_name }}{% else %}input-field{{ field_uid }}{% endif%}" class="form-control" autocomplete="off" value="{% if field_value is not empty %}*******{% endif %}">