{#    если установлена filter_form - нужна компактная форма, используется, к примеру, в фильтрах журналов #}
{#    если установлена widget_name - это имя поля #}
{% if mask and not filter_form %}
<script type="text/javascript">
    $(function() {
        $("#input-field_string{{ field_uid }}").mask("{{ mask }}");
    });    
</script>
{% endif %}
<input type="text" name="{% if widget_name %}{{ widget_name }}{% else %}field[{{ field_uid }}]{% endif%}" id="input-field_string{{ field_uid }}" class="form-control" value="{{ field_value }}">