    <div class="modal-header">
        <div><h4 class="modal-title text-left">{{ title_confirm }}</h4></div>
    </div>
    

    <div class="modal-body" id="form_route">
        <strong>{{ text_confirm }}</strong>
    </div>
                  

    <div class="modal-footer">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <button type="button" class="btn btn-default btn-block" id="modal-button-add" onclick="save_dialog();" data-loading-text="{{ text_loading }}">{{ button_delete }}</button>
            </div>
            <div class="col-md-3 col-sm-3">
                    <div style="margin-top: 15px;" class="visible-xs"></div>
                    <span class="btn btn-default btn-block" data-dismiss="modal">{{ button_cancel }}</button>
            </div>


        </div>
    </div>
           
           
<script type="text/javascript">


 function save_dialog() {
        $.ajax({
            {% if document_uid %}
            url: 'index.php?route=document/document/button&button_uid={{ button_uid }}&document_uid={{ document_uid }}',
            {% else %}
            url: 'index.php?route=document/folder/button&button_uid={{ button_uid }}&document_uids={{ document_uids }}',                
            {% endif %}    
            type: 'post',
            dataType: 'json',
            success: function(json) {
                if(json['append']) {
                    //какое-то действие, запущенное через контекст создания, добавляет контент к странице
                    $.each(json['append'],function(){
                        $('body').append(this);
                    });
                }                                     
                if (json['reload']) {
                    if (getURLVar('folder_uid')) {
                        history_cache_actual = 0;
                        load_table_cache();
                    } else {
                        window.location.replace(json.reload);
                    } 
                }
                if (json['redirect']) {
                    if (json['append']) {   
                        //к текущей страницы добавили контент, проверяем на открытое модальное окно
                        if ($('body').hasClass('modal-open')) { //делаем редирект после закрытия окна
                            $(document).on('hide.bs.modal', '.modal', function () {
                                if ($('.modal:visible').length < 2) {
                                    window.location.href = json['redirect'];
                                }

                            });
                        } else {
                            window.location.href = json['redirect'];
                        }                               
                    } else {
                        window.location.href = json['redirect'];
                    }
                                       
                }     
                $('#modal-action').modal('hide');    
                if (json['error']) {
                    alert(json['error']);
                }    
            }
        });
 };

</script>