<hr>
    <ul class="nav nav-tabs" id="remove_template_language">
    {% for language in languages %}
    <li><a href="#remove_template_language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
    {% endfor %}
    </ul>        
    <div class="tab-content">
        {% for language in languages %}
        <div class="tab-pane fade" id="remove_template_language{{ language.language_id }}">
          <div class="form-group">    
            <label class="col-sm-3 control-label" for="input-confirm"><span data-toggle="tooltip" title="{{ help_confirm }}">{{ entry_confirm }}</span></label>
            <div class="col-sm-9">     
                <input type="text" name="action[confirm][{{ language.language_id }}]" id="input-confirm" value="{{ action.confirm[language.language_id] }}" placeholder="{{ entry_confirm }}" class="form-control">
            </div>    
          </div>
        </div>                  
        {% endfor %} 
    </div>    
<script type="text/javascript">
    $('#remove_template_language a:first').tab('show');
</script>    
        
        
        