
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#link-common">{{ tab_general }}</a></li>
    <li><a data-toggle="tab" href="#link-data">{{ tab_data }}</a></li>
</ul>

<div class="tab-content">
    <div id="link-common" class="tab-pane fade in active">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="input-link_doctype_name"><span data-toggle="tooltip" title="{{ help_doctype }}">{{ entry_doctype }}</span></label>
            <div class="col-sm-9">
                <input type="text" name="doctype_name" {% if params.doctype_uid is not empty %}readonly="true"{% endif %}id="input-doctype_name" placeholder="{{ entry_doctype }}" class="form-control" value="{{ doctype_name }}"> <br>
                <input type="hidden" name="field[doctype_uid]" id="input-link_doctype_uid" placeholder="{{ entry_doctype }}" class="form-control" value="{{ params.doctype_uid }}"> <br>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="input-doctype_field_name"><span data-toggle="tooltip" title="{{ help_field }}">{{ entry_field }}</span></label>
            <div class="col-sm-9">
                <input type="text" name="doctype_field_name" id="input-doctype_field_name" placeholder="{{ entry_field }}" class="form-control" value="{{ doctype_field_name }}"> <br>
                <input type="hidden" name="field[doctype_field_uid]" id="input-doctype_field_uid" placeholder="{{ entry_field }}" class="form-control" value="{{ params.doctype_field_uid }}"> <br>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="input-list"><span data-toggle="tooltip" title="{{ help_list }}">{{ entry_list }}</span></label>
            <div class="col-sm-9">
                <select name="field[list]" id="select-list" class="form-control">
                    {% if params.list %}
                        <option value="1" selected="selected">{{ text_yes }}</option>
                        <option value="0">{{ text_no }}</option>
                    {% else %}
                        <option value="1">{{ text_yes }}</option>
                        <option value="0" selected="selected">{{ text_no }}</option>
                    {% endif %}
                </select>
            </div>
        </div>    
        <div class="form-group">
            <label class="col-sm-3 control-label" for="select-multi_select"><span data-toggle="tooltip" title="{{ help_multi_select }}">{{ entry_multi_select }}</span></label>
            <div class="col-sm-9">
                <select name="field[multi_select]" id="select-multi_select" class="form-control">
                    {% if params.multi_select %}
                        <option value="1" selected="selected">{{ text_yes }}</option>
                        <option value="0">{{ text_no }}</option>
                    {% else %}
                        <option value="1">{{ text_yes }}</option>
                        <option value="0" selected="selected">{{ text_no }}</option>
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="input-delimiter"><span data-toggle="tooltip" title="{{ help_delimiter }}">{{ entry_delimiter }}</span></label>
            <div class="col-sm-9">
                <input type="text" name="field[delimiter]" id="input-delimiter" placeholder="{{ entry_delimiter }}" value="{% if params.delimiter %}{{ params.delimiter }}{% else %}, {% endif %}" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="input-list"><span data-toggle="tooltip" title="{{ help_href }}">{{ entry_href }}</span></label>
            <div class="col-sm-9">
                <select name="field[href]" id="input-href" class="form-control">
                    {% if params.href %}
                        <option value="1" selected="selected">{{ text_yes }}</option>
                        <option value="0">{{ text_no }}</option>
                    {% else %}
                        <option value="1">{{ text_yes }}</option>
                        <option value="0" selected="selected">{{ text_no }}</option>          
                    {% endif %}            
                </select>
            </div>
        </div>
    </div>
    <div id="link-data" class="tab-pane fade">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="link-select-source_type">
                <span data-toggle="tooltip" title="{{ help_source_type }}">{{ entry_source_type }}</span>
            </label>
            <div class="col-sm-10">
                <select name="field[source_type]" id="link-select-source_type" class="form-control">
                    <option value="doctype"{% if params.source_type == "doctype" or params.source_type is empty %} selected="selected"{% endif %}>{{ text_source_doctype }}</option>
                    <option value="field"{% if params.source_type == "field" %} selected="selected"{% endif %}>{{ text_source_field }}</option>
                </select>
                <div id="link-select-source_type_field">
                    {% import "default/template/macros/field_in_field.twig" as mfield %}
                    {{ mfield.show(source_field_name, params.source_field_uid, doctype_uid, 'source_field', text_macros_field) }}        
                </div>  
            </div>
        </div>              
    </div>                
</div>
<script type="text/javascript">
    if ($('#select-list').val() == 1) {
        $('#select-multi_select').val('0');
        $('#select-multi_select').attr('disabled', 'disabled');
    }
    if ($('#select-multi_select').val() == 0) {
        $('#input-delimiter').attr('disabled', 'disabled');
    }

    $('#select-list').on('change', function () {
        if (this.value == '1') {
            $('#select-multi_select').val('0');
            $('#select-multi_select').attr('disabled', 'disabled');
        } else {
            $('#select-multi_select').removeAttr('disabled');
        }
    });
    
    {#источник данных - все документы доктайпа или документы из поля#}
    if ($('#link-select-source_type').val() == 'field') {
        $('#link-select-source_type_field').show();
    } else {
        $('#link-select-source_type_field').hide();
    }
    $('#link-select-source_type').on('change', function () {
        if (this.value == 'doctype') {
            $('#link-select-source_type_field').hide();
        } else {
            $('#link-select-source_type_field').show();
        }
    });
    

    $('#select-multi_select').on('change', function () {
        if (this.value == '0') {
            $('#input-delimiter').attr('disabled', 'disabled');
        } else {
            $('#input-delimiter').removeAttr('disabled');
        }
    });
    {% if params.doctype_uid is empty %}
        $('input[name=\'doctype_name\']').autocomplete({
            'source': function (request, response) {
                $.ajax({
                    url: 'index.php?route=doctype/doctype/autocomplete&filter_name=' + encodeURIComponent(request),
                    dataType: 'json',
                    success: function (json) {

                        json.unshift({
                            route_uid: 0,
                            name: '{{ text_none }}'
                        });
                        response($.map(json, function (item) {
                            return {
                                label: item['name'],
                                value: item['doctype_uid']
                            }
                        }));
                    }
                });
            },
            'select': function (item) {
                if (item['value']) {
                    $('input[name=\'doctype_name\']').val(item['label']);
                    $('input[name=\'field[doctype_uid]\']').val(item['value']);

                } else {
                    $('input[name=\'doctype_name\']').val("");
                    $('input[name=\'field[doctype_uid]\']').val("0");
                }
            }
        });
    {% endif %}
        $('input[name=\'doctype_field_name\']').autocomplete({
            'source': function (request, response) {
                $.ajax({
                    url: 'index.php?route=doctype/doctype/autocomplete_field&filter_name=' + encodeURIComponent(request) + '&doctype_uid=' + $('#input-link_doctype_uid').val() + '&access_view=0',
                    dataType: 'json',
                    success: function (json) {
                        json.unshift({
                            field_uid: 0,
                            name: '{{ text_none }}'
                        });
                        response($.map(json, function (item) {
                            if (item['field_uid'] !== '{{field_uid}}') {                                
                                return {
                                    label: item['name'],
                                    value: item['field_uid']
                                }
                            }
                        }));
                    }
                });
            },
            'select': function (item) {
                if (item['value']) {
                    $('input[name=\'doctype_field_name\']').val(item['label']);
                    $('input[name=\'field[doctype_field_uid]\']').val(item['value']);
                    if ($('#input-field_name').val() === '') {
                        $('#input-field_name').val(item['label']);
                    }
                } else {
                    $('input[name=\'doctype_field_name\']').val("");
                    $('input[name=\'field[doctype_field_uid]\']').val("0");
                }
            }
        });

</script>