{% set unique = random() %}
{% if widget_name is not empty %}
    {% set NAME = widget_name %}
    {% set ID='input-field_link' ~ unique %}
{% else %}
    {% set NAME = 'field[' ~ field_uid ~ ']' %}
    {% set ID = 'input-field' ~ field_uid  %}
{% endif%}

{% if list and not filter_form %}
  <select name="{{ NAME }}" id="{{ ID }}" class="form-control">
    <option value="0">{{ text_none }}</option>    
    {% for document in documents %}        
        {% if document.document_uid == value_id %}
        <option value="{{ document.document_uid }}" selected="selected">{{ document.name }}</option>            
        {% else %}
        <option value="{{ document.document_uid }}">{{ document.name }}</option>    
        {% endif %}        
    {% endfor %}
  </select>        
{% else %}
    
{% if multi_select and not filter_form %}
<input type="text" name="link_{{ NAME }}{{ unique }}" id="link_{{ ID }}" class="form-control dropdown-toggle" value="">
<div id="link-block-{{ field_uid }}" class="well well-sm" style="height: auto; overflow: auto;"> 
    {% for value in values %}
    <div id="block_{{ ID }}">
        <i class="fa fa-minus-circle"></i> {{ value.name }}
        <input type="hidden" name="{{ NAME }}[]" value="{{ value.id }}" class="form-control"/>
    </div>
    {% endfor %}
    {% if values is empty %}
    <div id="link_null_{{ unique }}"><input type="hidden" name="{{ NAME }}[]" value="{{ value.id }}"/></div>    
    {% else %}
    <div id="link_null_{{ unique }}"></div>
    {% endif %}
</div>        
{% else %}    
<input type="text" name="link_{{ NAME }}{{ unique }}" id="link_{{ ID }}" class="form-control dropdown-toggle" value="{{ value_name }}">
<input type="hidden" name="{{ NAME }}" id="{{ ID }}" value="{{ value_id }}"  class="form-control">
{% endif %}

<script type="text/javascript">
$('input[name=\'link_{{ NAME }}{{ unique }}\']').autocomplete({
    'source': function(request, response) {
        $.ajax({
            url: 'index.php?route=document/document/autocomplete&doctype_uid={{ doctype_uid }}&field_uid={{ doctype_field_uid }}{% if source_field_uid %}&source_field_uid={{ source_field_uid }}{% endif %}{% if document_uid %}&document_uid={{ document_uid }}{% endif %}&filter_name=' +  encodeURIComponent(request),
            dataType: 'json',
            cache: false,
            success: function(json) {

                    json.unshift({
                        document_uid: 0,
                        name: '{{ text_none }}'
                    });
                    response($.map(json, function(item) {
                        //если пользователь не выберет значение из списка, а введет его руками
                        if(json.length == 2 && item['document_uid'] > 0) {
                            $('input[name=\'{{ NAME }}\']').val(item['document_uid']);
                        }    
                        return {
                                label: item['name'],
                                value: item['document_uid']
                        }
                    }));
            }
        });
    },
    'select': function(item) {
        {% if multi_select and not filter_form %}
        if(item['value']) {
            $('#block_{{ ID }}' + item['value']).remove();
            $('#link-block-{{ field_uid }}').append('<div id="block_{{ ID }}' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="{{ NAME }}[]" value="' + item['value'] + '" /></div>');
            $('input[name=\'link_{{ NAME }}{{ unique }}\']').val('');
            $('#link_null_{{ unique }}').html('');
        }    
        {% else %} 
        if(item['value']) {
            $('#{{ ID }}').val(item['value']);	
            $('input[name=\'link_{{ NAME }}{{ unique }}\']').val(item['label']);
        } else {            
            $('#{{ ID }}').val("");  
            $('input[name=\'link_{{ NAME }}{{ unique }}\']').val("");                
        }
        {% endif %}
        if (typeof save_draft == 'function') {
            save_draft();
        }
     }   
}); 
    
    {% if multi_select and not filter_form %}
    $('#link-block-{{ field_uid }}').delegate('.fa-minus-circle', 'click', function() {
        $(this).parent().remove();
        
        if (!$(this).parent().parent().html()) {
            $('#link_null_{{ unique }}').html('<input type="hidden" name="{{ NAME }}[]" value="{{ value.id }}" class="form-control"/>');
        }
        if (typeof save_draft == 'function') {
            save_draft();
        }
    });
    {% endif %}
</script> 
{% endif %}
