    <footer class="navbar navbar-default navbar-fixed-bottom" style="min-height: 20px; background-color: #555; color:#e2e2e2;">  
      <div class="container-fluid">
        <div class="row">
            {{ powered }}
        </div>
      </div>
  </footer>  

{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
</body></html>