<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-Control" content="no-cache">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<script src="view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="view/theme/default/stylesheet/bootstrap.css?v=0.9.3" rel="stylesheet" media="screen" />
<script src="view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="view/theme/default/stylesheet/stylesheet.css?v=0.9.6.2" rel="stylesheet">
<script src="view/javascript/jquery/maskedinput/jquery.maskedinput.min.js" type="text/javascript"></script>
<script src="view/javascript/cleave.min.js" type="text/javascript"></script>
<script src="view/javascript/jquery/fileup/src/fileup.js"></script> 
<link href="view/javascript/jquery/fileup/src/fileup.css" rel="stylesheet" type="text/css">
<script src="view/javascript/jquery/datetimepicker/jquery.datetimepicker.full.min.js" type="text/javascript"></script>
<link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
<link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script> 
<script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script> 
<script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script> 
<script src="view/javascript/common.js?v=0.9.6.2" type="text/javascript"></script>
<script src="view/javascript/summernote/summernote.js?v=0.9.4.2" type="text/javascript"></script>
{#<script src="view/javascript/summernote/summernote-image-attributes.js" type="text/javascript"></script>#}
<script src="view/javascript/summernote/opencart.js?v=1" type="text/javascript"></script>
<link href="view/javascript/jquery/datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="view/javascript/summernote/summernote.css?v=0.9.4" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="view/javascript/field/table/tablewidgetplugin.js"></script>

<script type="text/javascript" src="view/javascript/jquery/fancytree/jquery-ui-dependencies/jquery-ui.min.js"></script>
<script type="text/javascript" src="view/javascript/jquery/fancytree/jquery.fancytree.js"></script>
<link rel="stylesheet" type="text/css" href="view/javascript/jquery/fancytree/skin-win8/ui.fancytree.css" />


{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body>
{% if not disable_main_menu %}    
<nav class="navbar navbar-default shadow2" role="navigation" id="main_menu">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
              <span class="sr-only">Навигация</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <h1 class="logo"><a href="/"><span>Δ</span>ocumentov</a></h1>
      </div>
       <div class="collapse navbar-collapse" id="bs-navbar-collapse">
        <ul class="nav navbar-nav">   
            {% for item in menu_items %}
                {% if item.children %}
                 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     {% if item.image %}
                      <img src="{{ item.image }}">   
                     {% endif %}    
                     <span {% if item.hide_name and item.image %}class="text-menu-{{ item.hide_name }}"{% endif %}>{{ item.name }}</span> <b class="caret"></b></a>   
                     <ul class="dropdown-menu">
                         {% for child in item.children %}
                             {% if child.children %}
                                 <li class="dropdown-submenu">
                                    <a tabindex="-1" href="{{ child.link }}">
                                        {% if child.image %}
                                        <img src="{{ child.image }}">&nbsp;
                                        {% endif %}                                       
                                        {{ child.name }}</a>
                                    {% import "default/template/macros/tree.twig" as tree %}
                                    {{ tree.list(child.children) }}                                 
                             {% else %}
                                 {% if child.type == 'text' %}
                                 <li><a href="{{ child.link }}">
                                        {% if child.image %}
                                        <img src="{{ child.image }}">   
                                        {% endif %} 
                                        {{ child.name }}
                                     </a></li>
                                 {% else %}
                                 <li class="divider"></li>
                                 {% endif %}
                             {% endif %}    
                         {% endfor %}    
                     </ul>
                 </li>    
                {% else %}
                    <li><a href="{{ item.link }}">
                        {% if item.image %}
                         <img src="{{ item.image }}">   
                        {% endif %}   
                        <span {% if item.hide_name and item.image %}class="text-menu-{{ item.hide_name }}"{% endif %}>{{ item.name }}</span></a></li>
                {% endif %}    
            {% endfor %}    
        </ul>
       </div>    
    </div>
</nav>
{% endif %}

