<div id="document_toolbar">
    <span class="btn btn-default shadow2" id="button-save_document" onclick="save_document();" data-toggle="tooltip" title="{{ button_save }}" data-loading-text="{{ text_loading }}"><i class="fa fa-save"></i> {{ button_save }}</span>
    <span class="btn btn-default shadow2" onclick="cancel_edit();" data-toggle="tooltip" title="{{ button_cancel }}"><i class="fa fa-reply"></i> {{ button_cancel }}</span>
    <div id="block_loading">&nbsp;&nbsp;&nbsp;{{ text_loading }}&nbsp;&nbsp;&nbsp;</div>    
</div>    

<script type="text/javascript">
    var field_functions = []; 
    
    if (typeof hide_toolbar === 'undefined' || !hide_toolbar) {
        $('#folder_toolbar').show();
    } else {
        $('#folder_toolbar').hide();
    }  
    
    function save_document() {
        if ($('#button-save_document').attr('disabled')) {
            return false;
        }         
        if (field_functions.length > 0) {
           $.each(field_functions, function(){
               this();
           });            
        }        
        $.ajax({
            url: 'index.php?route=document/{% if folder_uid is empty %}document{% else %}folder{% endif %}/button&button_uid={{ button_uid }}&{% if folder_uid is empty %}document_uid={{ document_uid }}{% else %}document_uids={{ document_uid }}{% endif %}&new_document_uid={{ new_document_uid }}',
            type: 'post',
            data: $('#document_form input[type=\'text\'], #document_form input[type=\'number\'], #document_form input[type=\'password\'], #document_form input[type=\'hidden\'], #document_form input[type=\'radio\']:checked, #document_form input[type=\'checkbox\']:checked, #document_form select, #document_form textarea'),
            dataType: 'json',
            beforeSend: function(xhr) { 
                $('#block_loading').show();
                $('#button-save_document').attr('disabled','disabled');
            },              
            success: function(json) {
                if(json['append']) {
                    //какое-то действие, запущенное через контекст создания, добавляет контент к странице
                    $.each(json['append'],function(){
                        $('body').append(this);
                    });
                } 
                if (json['redirect']) {
                    if (getURLVar('folder_uid') && json['redirect'].indexOf('document_uid') >= 0) {
                        history_cache_actual = 0;
                        load_url(json['redirect'] + '&folder_uid=' + getURLVar('folder_uid'));
                    } else {
                        if (json['append']) {   
                            //к текущей страницы добавили контент, проверяем на открытое модальное окно
                            if ($('body').hasClass('modal-open')) { //делаем редирект после закрытия окна
                                $(document).on('hide.bs.modal', '.modal', function () {
                                    if ($('.modal:visible').length < 2) {
                                        window.location.href = json['redirect'];
                                    }

                                });
                            }  else {
                                window.location.href = json['redirect'];
                            }                              
                        } else {
                            window.location.href = json['redirect'];
                        }                            
                    }    
                } else if(json['window']) {
                        $('#modal-action').remove();
                        html  = '<div id="modal-action" class="modal fade">';
                        html += '  <div class="modal-dialog modal-lg">';
                        html += '    <div class="modal-content">';
                        html += json['window'];
                        html += '    </div>';
                        html += '  </div>';
                        html += '</div>';
                        $('body').append(html);
                        $('#modal-action').modal('show');      
                } else {
                    $('#button-save_document').removeAttr('disabled');
                    if (json['error']) {
                        $('#document_toolbar .alert').remove();
                        $('#block_loading').hide();
                        $('#document_toolbar').append('<div class="alert alert-danger" style="margin-top:5px;">' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                    } else if(json['reload']) {
                        if (getURLVar('folder_uid')) {
                            history_cache_actual = 0;
                            load_table_cache();
                        } else {
                            window.location.replace(json.reload);
                        }                     
                    }  
                    if (json['document_uid']) {
                        if (typeof history_cache !== 'undefined') {
                            history_cache[history_cache.length] = {
                                workspace: $('#tcolumn').html(),
                                toolbar: $('#folder_toolbar').html(),
                                document_uid: json['document_uid']
                            };  
                            var url = window.location.href;
                            var arr = url.split("&document_uid="); 
                            history.pushState(null, null, arr[0] + '&document_uid=' + json['document_uid']);                            
                        }
                    }                     

                } 
            }
        });            
    };
    
    function remove_draft() {
        $.ajax({
            url: 'index.php?route=document/{% if folder_uid is empty %}document{% else %}folder{% endif %}/button&button_uid={{ button_uid }}&{% if folder_uid is empty %}document_uid={{ document_uid }}{% else %}document_uids={{ document_uid }}{% endif %}&new_document_uid={{ new_document_uid }}&remove_draft=1',
            type: 'get',
            dataType: 'json',
            success: function(json) {
                // перезагружаем документ
                $('#document_form').html(json['replace']['document_form']);
            }
        });
        //clearTimeout(timerId);
        //timerId = setTimeout(save_draft, 15000);
    };    
    
    function save_draft() {
        $.ajax({
            url: 'index.php?route=document/{% if folder_uid is empty %}document{% else %}folder{% endif %}/button&button_uid={{ button_uid }}&{% if folder_uid is empty %}document_uid={{ document_uid }}{% else %}document_uids={{ document_uid }}{% endif %}&new_document_uid={{ new_document_uid }}&draft=3',
            type: 'post',
            data: $('#document_form input[type=\'text\'], #document_form input[type=\'number\'], #document_form input[type=\'password\'], #document_form input[type=\'hidden\'], #document_form input[type=\'radio\']:checked, #document_form input[type=\'checkbox\']:checked, #document_form select, #document_form textarea'),
            dataType: 'json',
            success: function(json) {
            }
        });
        //clearTimeout(timerId);
        //timerId = setTimeout(save_draft, 15000);
    };

    $(function(){ 
        //timerId = setTimeout(save_draft, 15000);
    });

     $( ".form-control" ).change(function() {
        save_draft();
    });    
    
    function cancel_edit() {
        $('#tcolumn').fadeOut(0);
        $('#document_toolbar').fadeOut(0, function() {
            for (var id in data_replace_blocks) {
                $('#' + id).html(data_replace_blocks[id]);
            }  
            data_replace_blocks = [];
            $('#document_toolbar').fadeIn(300);
            $('#tcolumn').fadeIn(300);
            $('#document_toolbar').show();   //в ФФ иногда не показывались кнопки в журнале после нажатия на Отмену             
            if (typeof hide_toolbar === 'undefined' || !hide_toolbar) {
                $('#folder_toolbar').show();
            } else {
                $('#folder_toolbar').hide();
            }            

            
        });        
 
        $.ajax({
            url: 'index.php?route=document/{% if folder_uid is empty %}document{% else %}folder{% endif %}/button&button_uid={{ button_uid }}&{% if folder_uid is empty %}document_uid={{ document_uid }}{% else %}document_uids={{ document_uid }}{% endif %}&new_document_uid={{ new_document_uid }}&remove_draft=1',
            type: 'get',
            dataType: 'json'
        });
        $('.tooltip').hide();
    }
</script>    