            </div>
                  
        </div>

    <div class="modal-footer" id="dialog_footer">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <button type="button" class="btn btn-default btn-block modal-button-save" onclick="save_dialog();"  data-loading-text="{{ text_loading }}">{{ button_save }}</button>
            </div>
            <div class="col-md-3 col-sm-3">
                    <div style="margin-top: 15px;" class="visible-xs"></div>
                    <button class="btn btn-default btn-block" data-dismiss="modal">{{ button_cancel }}</button>
            </div>


        </div>
    </div>
           
           
<script type="text/javascript">

$('#modal-action').attr('data-backdrop', 'static');
$('.tooltip').hide();
$('#dialog_loading').hide();

 function save_dialog() {
        if ($('.modal-button-save').attr('disabled')) {
            return false;
        }
        
        if (functions.length > 0) { //функции полей перед сохранением документа
           $.each(functions, function(){
               this();
           });            
        }        
        //проверяем обязательные для заполнения поля
        var req_fields = [{{ required_fields }}];
        var check_required = 1;
        $.each(req_fields, function(){
            var type = $('[name^=\'field\[' + this + '\]\']').attr('type');
            if (type === undefined) {
                if ($('[name^=\'field\[' + this + '\]\']').is('select')) {
                    type = 'select';
                } else if ($('[name^=\'field\[' + this + '\]\']').is('textarea')) {
                    type = 'textarea';
                }    
            }
            switch (type) {
                case undefined:   
                    break;
                case 'select': 
                    if ($('select[name^=\'field\[' + this + '\]\']').val() === null) {
                        check_required = 0;
                        $('[name^=\'field\[' + this + '\]\']').addClass('alert');
                        $('[name^=\'field\[' + this + '\]\']').addClass('alert-danger');                                                
                    } else {
                        $('[name^=\'field\[' + this + '\]\']').removeClass('alert');
                        $('[name^=\'field\[' + this + '\]\']').removeClass('alert-danger');                                                                            
                    }
                    break;
                case 'textarea': 
                    if ($('textarea[name^=\'field\[' + this + '\]\']').val() == "") {
                        check_required = 0;
                        $('[name^=\'field\[' + this + '\]\']').parent().addClass('alert');
                        $('[name^=\'field\[' + this + '\]\']').parent().addClass('alert-danger');                                                
                    } else {
                        alert(2);
                        $('[name^=\'field\[' + this + '\]\']').removeClass('alert');
                        $('[name^=\'field\[' + this + '\]\']').removeClass('alert-danger');                                                                            
                    }
                    break;
                case 'text':
                    if(!$('[name^=\'field\[' + this + '\]\']').val()) {
                        check_required = 0;
                        $('[name^=\'field\[' + this + '\]\']').parent().addClass('alert');
                        $('[name^=\'field\[' + this + '\]\']').parent().addClass('alert-danger');
                    } else {
                        $('[name^=\'field\[' + this + '\]\']').parent().removeClass('alert');
                        $('[name^=\'field\[' + this + '\]\']').parent().removeClass('alert-danger');                    
                    }
                    break;
                case 'hidden':
                    if(!$('[name^=\'field\[' + this + '\]\']').val()) {
                        check_required = 0;
                        $('[name^=\'field\[' + this + '\]\']').parent().addClass('alert');
                        $('[name^=\'field\[' + this + '\]\']').parent().addClass('alert-danger');
                    } else {
                        $('[name^=\'field\[' + this + '\]\']').parent().removeClass('alert');
                        $('[name^=\'field\[' + this + '\]\']').parent().removeClass('alert-danger');                    
                    }
                    break;
                    
                case 'radio':    
                    if (!$('[name^=\'field\[' + this + '\]\']:checked').length) {
                        check_required = 0;
                        $('[name^=\'field\[' + this + '\]\']').parent().addClass('alert-danger');                        
                    } else {
                        $('[name^=\'field\[' + this + '\]\']').parent().removeClass('alert-danger');                                            
                    }
                    break;
                case 'checkbox':    
                    if (!$('[name^=\'field\[' + this + '\]\']:checked').length) {
                        check_required = 0;
                        $('[name^=\'field\[' + this + '\]\']').parent().addClass('alert-danger');                        
                    } else {
                        $('[name^=\'field\[' + this + '\]\']').parent().removeClass('alert-danger');                                            
                    }
                    break;
                default:
                    alert('new type - ' + type);
                    break;
            }
        });
        if (!check_required) {
            alert('{{ text_alert_req_field }}');
        } else {   
            $('#dialog_loading').fadeIn(300);
            $('#dialog_form').fadeOut(0);
            $('#dialog_title').html('{{ text_loading }}');
            $('#dialog_footer button').attr('disabled','disabled');
            $.ajax({
                {% if document_uid %}
                url: 'index.php?route=document/document/button&button_uid={{ button_uid }}&document_uid={{ document_uid }}',
                {% else %}
                url: 'index.php?route=document/folder/button&button_uid={{ button_uid }}&document_uids={{ document_uids }}',                
                {% endif %}    
                type: 'post',
                data: $('#dialog_form input[type=\'text\'], #dialog_form input[type=\'number\'], #dialog_form input[type=\'password\'], #dialog_form input[type=\'hidden\'], #dialog_form input[type=\'radio\']:checked, #dialog_form input[type=\'checkbox\']:checked, #dialog_form select, #dialog_form textarea'),
                dataType: 'json',
                beforeSend: function(xhr) { 
                    $('#block_loading').show();
                    $('.modal-button-save').attr('disabled','disabled'); 
                },          
                success: function(json) {
                    $('#modal-action').modal('hide');    
                    
                    if(json['append']) {
                        //какое-то действие, запущенное через контекст создания, добавляет контент к странице
                        $.each(json['append'],function(){
                            $('body').append(this);
                        });
                    }                     
                    if (json['redirect']) {
                        if (getURLVar('folder_uid') && json['redirect'].indexOf('document_uid') >= 0) {
                            history_cache_actual = 0;
                            load_url(json['redirect'] + '&folder_uid=' + getURLVar('folder_uid'));
                        } else {
                            if (json['append']) {   
                                //к текущей страницы добавили контент, проверяем на открытое модальное окно
                                if ($('body').hasClass('modal-open')) { //делаем редирект после закрытия окна
                                    $(document).on('hide.bs.modal', '.modal', function () {
                                        if ($('.modal:visible').length < 2) {
                                            window.location.href = json['redirect'];
                                        }

                                    });
                                } else {
                                    window.location.href = json['redirect'];
                                }                               
                            } else {
                                window.location.href = json['redirect'];
                            }
                        }    
                    } else if (json['reload']) {
                        history_cache_actual = 0;
                        if (getURLVar('folder_uid')) {                        
                            load_table_cache();
                        } else {
                            window.location.replace(json.reload);
                        }    

                    } else if (json['error']) {
                        $('#document_toolbar .alert').remove();
                        $('#document_toolbar').append('<div class="alert alert-danger" style="margin-top:5px;">' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                    }                
                    $('.modal-button-save').removeAttr('disabled');
                }
            });       
        }    
 };

</script>