{{ header }}
<div class="sticky">
<div id="block_loading">&nbsp;&nbsp;&nbsp;{{ text_loading }}&nbsp;&nbsp;&nbsp;</div>
{% if navigation is empty  or navigation != 'hide' %}
<div class="container-fluid no-print" style="border-bottom: 1px solid #ddd;" id="folder_navigation"><h2>{{ navigation }}</h2></div>    
{% endif %}
{% if toolbar is empty or toolbar != 'hide' %}
<div id="folder_toolbar" class="navbar navbar-form shadow2">
    <div id="document_toolbar">
        {% for button in buttons %}
        &nbsp; <button class="btn btn-default shadow2" style="{% if button.color is not empty %}color:#{{ button.color }};{% endif %}{% if button.background is not empty %}background-color:#{{ button.background }};{% endif %}{% if button.picture %}padding:3px 6px 3px 3px;{% endif %}" id="folder_button{{ button.folder_button_uid }}" onclick="folder_button_action('{{ button.folder_button_uid }}');" data-toggle="tooltip" title="{{ button.title }}" data-loading-text="{{ text_loading }}"{% if button.documents or button.documents is empty %} disabled {% endif %}>{% if button.picture %}<img src="{{ button.picture }}"> {% endif %}<span{% if button.hide_button_name and button.picture %} class="text-hide-{{ button.hide_button_name }}"{% endif %}>{{ button.name }}</span></button>&nbsp;
        {% endfor %}   
        <div class="pull-right" id="tfilter">
            <span id="block-qsearch" style="display: none; position: absolute;z-index: 999; right: 100px;"><input type="text" name="input_qsearch" onkeydown="key_qsearch(event.key);" class="form-control shadow2"></span>
            <button class="btn btn-default shadow2" id="button_qsearch" onclick="qsearch();" disabled><i class="fa fa-search"></i></button>
            <button class="btn btn-default shadow2" data-toggle="modal" data-target="#modalFilter" id="button_filter" disabled><i class="fa fa-filter"></i></button>
        </div>    
    </div>      
</div>
{% else %}
<div id="folder_toolbar" style="display: none;"></div>    
{% endif %}     
</div>
<div class="container-fluid background0">
{% if grouping_tree is not empty %}
    <div id="splitter">    
        <div id="grouping">
            <!-- tree -->
            <div id="tree">
                <ul id="treeData" style="display: none;">
                {% for idg,group in grouping_tree %}
                {% if group.grouping_name is not empty %}
                    <li class="folder"  id="field_uid={{ group.field_uid }}">{{ group.grouping_name }}
{#                    {% set id = idg ~ '.' %}    #}
                {% endif %}
                {% if group.grouping_tree_uid %}
                    {% if group.grouping_name is not empty %}
                        <ul>
                    {% endif %}
                    {% for value in group.field_values %}
                        {% if value.separator is not empty  %}
                            {% if group.grouping_name is not empty or (group.grouping_name is empty and not loop.first) or (group.grouping_name is empty and not loop.last > 1) %}
                                {{ value.separator }}
                            {% endif %}   
                        {% else %}
                            <li class="folder" id="gtid={{ group.grouping_tree_uid }}&fid={{ value.field_uid }}&value={{ value.name }}" class="folder">{{ value.name }}
                        {% endif %}   
                    {% endfor %}
                    {% if group.grouping_name is not empty %}
                        </ul>
                    {% endif %}

                {% else %}  
                    {% if group.grouping_name is not empty %}<ul>{% endif %}
                    {% for value in group.field_values %}
                    <li class="folder" id="fid={{ value.field_uid }}&value={{ value.display_value }}">{% if value.display_value is not empty %}{{ value.display_value }}{% else %}{{ text_empty_value }}{% endif %}
                        {% if value.children is not empty %}
                            {% set gname = false %}
                            {% for child in value.children %}
                            {% if child.grouping_name is not empty %}   
                                {% set gname = true %}                                
                            {% endif %}
                            {% endfor %}
                            {% if gname %}
                            <ul>
                            {% endif %}    
                            {% for child in value.children %}
                                {% if child.grouping_name is not empty %}
                                    <li>{{ child.grouping_name }}
                                {% endif %}    
                                <ul>
                                    {% for child_value in child.values %}
                                        <li class="folder" id="fid={{ value.field_uid }}&value={{ value.display_value }}&fid2={{ child_value.field_uid }}&value2={{ child_value.display_value }}">{% if child_value.display_value is not empty %}{{ child_value.display_value }}{% else %}{{ text_empty_value }}{% endif %}
                                    {% endfor %}    
                                </ul>    
                            {% endfor %}    
                            {% if gname %}
                            </ul>
                            {% endif %}    
                        {% endif %}    
                    {% endfor %}
                    {% if group.grouping_name is not empty %}</ul>{% endif %}
                {% endif %}                
            {% endfor %}
            </ul>


            </div>        
        <!-- end tree -->
        </div> 
        <div id="tcolumn"></div>
    </div> <!-- end of #widget -->
{% else %}
    <div id="tcolumn" class="fixxed" style="width:98%"></div>    
{% endif %}


</div>
<div id="modalFilter" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ text_title_filter }}</h4>
      </div>
      <div class="modal-body">
          <div class="nav navbar pull-right">
              <span class="btn btn-default" onclick="filter_add();"><i class="fa fa-plus"></i></span>
              <span class="dropdown">
                  <span class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-save"></i></span>
                  <ul class="dropdown-menu dropdown-menu-right">    
                    <li style="padding: 0px 3px;"><input type="text" id="filter_name" placeholder="{{ entry_filter_name }}" class="form-control"></li>
                    <li style="cursor: pointer;" class="text-center"><a onclick="filter_save();">{{ button_save }}</a></li>
                  </ul>
              </span>    
              <span class="dropdown">
                  <span class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-download"></i></span>
                  <ul class="dropdown-menu dropdown-menu-right" id="filters">  
                    {% for filter in user_filters %}  
                        <li id="filter{{ filter.filter_id }}"><a style="cursor: pointer;" onclick="filter_load({{ filter.filter_id }});"><i class="fa fa-minus-circle" onclick="filter_remove({{ filter.filter_id }});" ></i> {{ filter.filter_name }} </a></li>
                    {% endfor %}
                  </ul>
               </span>   
          </div>
          <table class="table table-bordered" id="list_filters">
              <thead class="background1">
                  <tr>  
                    <th>{{ column_filter_field }}</th>
                    <th>{{ column_filter_condition }}</th>
                    <th>{{ column_filter_value }}</th>   
                    <th></th>
                  </tr>  
              </thead>
              <tbody>                 
              </tbody>
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="filter();">{{ button_filter }}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="filter_reset();">{{ button_reset }}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ button_close }}</button>
      </div>
    </div>
  </div>
</div>
<script  type="text/javascript">
    var table_params = '';
    var filter_params = '';
    var input_qsearch = '';
    var history_cache = []; //история открытия документов для работы кнопки Назад
    var history_cache_actual = 1; //признак актуальности кэша (действие может сбросить его)
    var buttons = {};
    var tfields = [];
    var num_filter = 0;
    var time_fade_out = 0;
    var filter_id = 0;
    var folder_toolbar = $('#folder_toolbar').html();
    var hide_toolbar = {% if toolbar == 'hide' %}true{% else %}false{% endif %};
    var sort = '';
    var order = '';
    var page = 1;
    var limit = {{ pagination_limit }};
    var active_node = ""; //выбранная ветвь дерева
    var time_node = 0; //время последней загрузки ветви
    
    $(document).ready ( function(){        
        var $url = window.location.href;
        var $params = $url.split("&");
        var $clear_url = "";
        $.each($params, function(){
            $name = this.split("=")[0];
            if ($name == 'fid' || $name == 'fid2' || $name == 'gtid' || $name == 'value' || $name == 'value2') {
                if (table_params) {
                    table_params += "&";
                }
                table_params += this;
            } else {
                $clear_url += this + '&';
            }
        });
        history.pushState(null, null, $clear_url.slice(0,-1));

        var $arr = $url.split("&document_uid=");
        if ($arr[1] !== undefined && $arr[1] && $arr[1] != '0') {
            open_document($arr[1]);
        } else {
            load_table(table_params,'');
        }

        $(function($) {
           {% if grouping_tree is not empty %}
             $("#splitter").splitter({minAsize:150,maxAsize:700,splitVertical:true,A:$('#grouping'),B:$('#tcolumn'),closeableto:0});  
           {% else %}
            {% for button in buttons %}
                {% if button.documents %}
                    buttons['{{ button.folder_button_uid }}'] = [{{ button.documents }}];
                {% endif %}

            {% endfor %}        
           {% endif %}    

          $("#tree").fancytree({         
             activate: function(event, data) {
                var node = data.node;
                active_node = node;
                page = 1;
                load_table(node.key, node);
                time_node = new Date().getTime();
              },
             click: function(event, data) {
                 if (!time_node && data.node.key == '_1') { 
                     //в структуре не нужно переключать, т.к. остаются провалы, в структуре node.key != '_1' 
                     data.node.toggleExpanded();
                 }
                 var new_time = new Date().getTime()-3000; //3 сек задержка на обновление
                if (data.targetType === 'title' && data.node == active_node && time_node < new_time) {
                    page = 1;
                    load_table(table_params, data.node);    
                    time_node = new Date().getTime();
                } else {
                   // data.node.toggleExpanded();
                }
             }             
          });
        });    
{#        $('#tcolumn').height(document.documentElement.clientHeight-$('#folder_navigation').outerHeight(true)-$('#folder_toolbar').outerHeight(true)-$('#main_menu').outerHeight(true) - $('footer').outerHeight(true));#}
        if ($('#splitter').outerHeight()) {
            $('#tcolumn').height($('#splitter').outerHeight());
        } else {
            $('#tcolumn').height($('body').height()-$('.sticky').outerHeight(true)-$('#main_menu').outerHeight(true) - $('footer').outerHeight(true));
        }
        
    });
    

    function load_table_cache() {  
        var url = window.location.href;
        var arr = url.split("&document_uid=");   
        while (history_cache.length > 0 && (history_cache[history_cache.length-1].document_uid == arr[1] || history_cache[history_cache.length-1].workspace == '')) {
            history_cache.pop();
        }        
        if (history_cache.length < 1) {            
            var $tblp = "";
            if (table_params !== undefined) {
                $tblp = table_params;
            }
            load_table($tblp,'');
        } else if(history_cache_actual == 0) {
            var document_uid = history_cache[history_cache.length-1].document_uid;
            history_cache.pop();
            if (document_uid !== '0' && document_uid) {
                open_document(document_uid);
                history_cache.pop();
            } else {
                var $tblp = "";
                if (table_params !== undefined) {
                    $tblp = table_params;
                }
                load_table($tblp,'');                
            }
        } else {            
            history.pushState(null, null, arr[0] + '&document_uid=' + history_cache[history_cache.length-1].document_uid);
            {% if toolbar != 'hide' %}
            $('#tcolumn').fadeOut(0);
            $('#folder_toolbar').fadeOut(0, function() {
                $('#folder_toolbar').html(history_cache[history_cache.length-1].toolbar);
                $('#tcolumn').html(history_cache[history_cache.length-1].workspace);
                //history_cache.pop(); журнал -> док1 -> док2 через link - назад => стирается doc1
                $('#folder_toolbar').fadeIn(300);
                $('#document_toolbar').fadeIn(300);
                $('#tcolumn').fadeIn(300);
            });  
            {% else %}
                $('#tcolumn').fadeOut(0, function(){
                    $('#tcolumn').html(history_cache[history_cache.length-1].workspace);
                    //history_cache.pop();
                    $('#tcolumn').fadeIn(300);                                    
                });
            {% endif %}
            $("#tcolumn").animate({ scrollTop: 0 }, "slow");    
            $('.tooltip').hide();             
        }
    }
    
    function load_table(params, node) {
        history_cache = [];
        $('.tooltip').hide(); 
        $('#tcolumn').fadeOut(0);
        $('#tcolumn').html();
        $('#document_toolbar').fadeOut(0);                  
        $('#folder_toolbar').html(folder_toolbar);
        add_url = '';
        if (sort !== '') {
            add_url = '&sort=' + sort + '&order=' + order;
        }  
        if (input_qsearch !== '') {
            add_url += '&qsearch=' + input_qsearch;
        }
        add_url += '&page=' + page + '&limit=' + limit;
        $.ajax({
            url: 'index.php?route=document/folder/get_documents&folder_uid={{ folder_uid }}&' + encodeURI(params) + encodeURI(filter_params) + encodeURI(add_url),
            dataType: 'json',
            cache: false,
            beforeSend: function(xhr) { 
                $('#block_loading').show();
            }, 
            success: function(json) {
                tfields = json['fields'];
                html = '<div>' + 
                        '   <table class="table table-bordered table-hover shadow3 table-sticky">' + 
                        '       <thead class="background1"><tr>';
                {% if toolbar is empty or toolbar != 'hide' %}
                html += '           <th style="width: 1px;" class="text-center no-print"><input type="checkbox" id="selected_all" onclick="selected_documents();" /></td>';
                {% endif %}
                $.each(json['fields'], function() {
                    //поля
                    if (this.tcolumn_hidden == "1") {
                        return;
                    }
                    html += '       <th class="text-left"><a onclick="sort_field(\'' + this.field_uid + '\');" class="pointer';
                    if (json['sort'] === this.field_uid) { //по данному полю вкл сортировка
                        html += ' ' + json['order'];
                        sort = json['sort'];
                        order = json['order'];
                    } 
                    html += '">' + this.tcolumn_name + '</a></th>';
                    
                });    
                html += '</tr></thead><tbody>';
                var total_columns = {}; 
                $.each(json['documents'], function(index, document){
                    html += '<tr'; 
                    if (typeof json['filter_documents'][document['document_uid']] !== undefined && json['filter_documents'][document['document_uid']] !== null) {
                        var color = '';
                        var background = '';
                        var font_weight = '';
                        var font_style = '';
                        var text_decoration = '';
                        {% for filter_id,filter in filters %}
                        if ($.inArray('{{ filter_id }}', json['filter_documents'][document['document_uid']]) >= 0) {
                            {% if filter.action == 'style' %}
                                    {% if filter.params.color %}
                                        color = '#{{ filter.params.color }}';
                                    {% endif %}
                                    {% if filter.params.background %}
                                        background = '#{{ filter.params.background }}';
                                    {% endif %}
                            {% endif %}        
                            {% if filter.action == 'font' %}
                                    {% if filter.params.font.bold %}
                                        font_weight = 'bold';
                                    {% endif %}
                                    {% if filter.params.font.italic %}
                                        font_style = 'italic';
                                    {% endif %}
                                    {% if filter.params.font.linethrough %}
                                        text_decoration = 'line-through';
                                    {% endif %}
                            {% endif %}        
                        }    
                        {% endfor %}    
                        if (color || background || font_weight || font_style || text_decoration) {
                             html += ' style="' + (color ? 'color:' + color + ';' : '') + 
                                     (background ? 'background-color:' + background + ';' : '') +
                                     (font_weight ? 'font-weight:' + font_weight + ';' : '') +
                                     (font_style ? 'font-style:' + font_style + ';' : '') +
                                     (text_decoration ? 'text-decoration:' + text_decoration + ';' : '') +
                                     '"';
                        }
                    }    
                    html += '>';
                    {% if toolbar is empty or toolbar != 'hide' %}
                        html += '<td class="text-center no-print"><input type="checkbox" name="selected[]" onclick="selected_document(this);" value="' + document['document_uid'] + '" /></td>';
                    {% endif %}
                       
                    $.each(json['fields'], function(index, field){
                        //вывод документов
                        if (field.tcolumn_hidden != "1") {
                            html += ' <td class="text-left" style="cursor:pointer;" onclick="open_document(\'' + document['document_uid'] + '\')">' + document['v' + field['field_uid'].replace(/-/g,'')].replace('&amp;','&') + '</td>';
                        }
                    });
                    
                    html += '</tr>';
                });
                //итоговая строка
                if (json['total_columns']) {
                    var html_footer = "<tr class='active'><td></td>";
                    var isfooter = 0;
                    $.each(json['fields'], function(index, field){
                        var vfield = 'v' + field['field_uid'].replace(/-/g,'');
                        if(json['total_columns'][vfield]) {
                            html_footer += "<td><b>" + json['total_columns'][vfield] + "</b></td>";
                            isfooter = 1;
                        } else {
                             html_footer += "<td></td>";
                        }
                    });
                    html_footer += "</tr>";
                    if (isfooter) {
                        html += html_footer;
                    }                                        
                }
                html += '</tbody></table>';
                html += '</div>';                
                //пагинация
                html += '<div class="folder-pagination"><div class="col-sm-9 text-left"> ' + json ['pagination'] + '</div><div class="col-sm-3 text-right form-inline">{{ text_total_documents }}' + json ['total_documents'] + ' {{ text_show_documents }}';
                html += '<select name="limit" onchange="change_limit(this);" class="form-control">';
                {% if pagination_limits is not empty %}
                {% for pagination_limit in pagination_limits %}
                    html += '<option value="{{ pagination_limit }}"';
                    if (limit == {{ pagination_limit }}) {
                        html += ' selected="selected"';
                    }
                    html += '>{{ pagination_limit }}</option>';
                {% endfor %}
                {% endif %}
                html += '</select>';    
                {% if grouping_tree is empty %}                
                    html += '<br><br>&nbsp;';   //без группировки нижняя панель наезжает на таблицу 
                {% endif %}    
                html += '</div>';        
                $('#tcolumn').html(html);   
                table_params = json['reload_url'];
                $('#button_filter').removeAttr('disabled');
                $('#button_qsearch').removeAttr('disabled');
                folder_toolbar = $('#folder_toolbar').html();
                $('#document_toolbar').fadeIn(300);
                $('#tcolumn').fadeIn(300);
                if (node !== undefined && node !== '' && json['children_path'] !== undefined) {
                    //передана активная нода, удаляем всех детей и добавляем полученные
                    node.removeChildren();
                    $.each(json['children_path'], function(){    
                        var key = this.title.replace('&','%26');
                        var title = this.title ? this.title : '{{ text_empty_value }}';                        
                        var fid2 = this.fid2;
                        var fid = this.fid;
                        var gtid = this.gtid;                        
                        node.addChildren({
                            title: title,
                            folder: true,
                            key: (gtid ? '&gtid=' + gtid : '') + (fid ? '&fid=' + fid + '&value=' + key : '') + (fid2 ? params + '&fid2=' + fid2 + '&value2=' + key : '')
                        });  
                    }); 
                    node.sortChildren();                      
                    node.toggleExpanded();
                    history_cache_actual = 1;
                }   
                if (json['buttons']) {
                    $.each(json['buttons'], function(button_uid,documents){
                        if (documents) {
                            buttons[button_uid] = documents;
                        }
                    });
                }
                $("#tcolumn").animate({ scrollTop: 0 }, "slow");
            },
            complete: function(xhr) {
                $('#block_loading').hide();
            }                
        });      
        //из-за замены тулбара стирается значение быстрого поиска, восстанавливаем
        $('input[name=\'input_qsearch\']').val(input_qsearch); 
        if (input_qsearch !== '') {
            $('#button_qsearch').addClass('btn-info');
        }
        var url = window.location.href;
        var arr = url.split("&document_uid=");
        history.pushState(null, null, arr[0]);
        $.ajax({
            url: 'index.php?route=account/account/set_lastpage&controller=document/folder&folder_uid={{ folder_uid }}&' + encodeURI(params) + encodeURI(filter_params) + encodeURI(add_url)
        });
    }
    
    function change_limit(select) {
        limit = select.value;
        load_table(table_params,'');
    }
    
    function selected_documents() {
        var checked = $('#selected_all').prop('checked');
        $('input[name*=\'selected\']').prop('checked', checked);
        $('input[name*=\'selected\']').attr('checked', checked);
{#        $('#selected_all').prop('checked', el.checked);#}
        $('#selected_all').attr('checked', checked);   
        $.each($('input[name*=\'selected\']'), function(){
            selected_document($(this));
        });
    }
        
    function selected_document(e)  {  
        if ($(e).prop('checked') == false) {            
            $(e).prop('checked',false);         
            $(e).removeAttr('checked');   {# спользование только prop не обеспечивает изменение html чек-бокса, поэтому после открытия-закрытия документа чек-боксы сбрасываются #}
            $('#selected_all').prop('checked', false); 
            $('#selected_all').removeAttr('checked'); 
        } else {            
            $(e).prop('checked',true);         
            $(e).attr('checked','checked');                     
        }        

	var selected = $('input[name^=\'selected\']:checked');
        $.each(buttons, function(button_uid, documents){
            $('#folder_button' + button_uid).attr('disabled','disabled');   
            if (documents === undefined) {                             
                return;
            }    
            $.each(selected, function(){
                if ($.inArray(this.value, documents) >= 0) {
                    $('#folder_button' + button_uid).removeAttr('disabled');;
                    return false;
                }    
            });
        });
    }
    
    function on_page(num_page) {
        page = num_page;
        load_table(table_params,'');
    }    
     
    function sort_field(field_uid) {
        if (sort == field_uid) { //переключаетя сортировка
            if (order == 'asc') {
                order = 'desc';
            } else {
                order = 'asc';
            }   
        } else {
            sort = field_uid;
            order = 'asc';
        }   
        load_table(table_params,'');
    }    
    
    function open_document(document_uid) {
        if (!document_uid || document_uid == "0") {
            return;
        }
        if (history_cache.length == 0) {
            history_cache[history_cache.length] = {
                workspace: $('#tcolumn').html(),
                toolbar: $('#folder_toolbar').html(),
                document_uid: '0'
            };            
        }
        $('#document_toolbar').fadeOut(0);
        $('#tcolumn').fadeOut(0);
        time_fade_out = (new Date()).getTime();
        load_url('index.php?route=document/document/get_document&document_uid=' + document_uid);        
        var url = window.location.href;
        var arr = url.split("&document_uid=");
        var arr2 = arr[0].split('route=');
        var ajax_url = 'index.php?route=account/account/set_lastpage&controller=document/folder&controller=' + arr2[1];

        if (document_uid !=='0') {
            history.pushState(null, null, arr[0] + '&document_uid=' + document_uid);
            ajax_url +=  '&document_uid=' + document_uid;
        } else {
            history.pushState(null, null, arr[0]);
        }
        
        $.ajax({
            url:ajax_url 
        });        
    }
    
    function load_url(url) {         
       $.ajax({
            url: encodeURI(url),          
            dataType: 'json',
            cache: false,
            beforeSend: function(xhr) { 
                $('#block_loading').show();
            },            
            success: function(json) {
                console.log('load_url');
{#                console.log(json);#}
                if (json['redirect']) {                    
                    if (json['redirect'].indexOf(window.location.hostname) > -1) {
                        console.log('1');
                        load_url(json['redirect'] + '&folder_uid={{ folder_uid }}');
                    } else {
                        console.log('2');
                        window.location = json['redirect'];
                    }                       
                } else if (json['reload']) {                                        
                    history_cache_actual = 0;
                    load_table(table_params,'');
                } else if (json['replace']) {
                        data_replace_blocks = [];
                        $.each(json['replace'], function(id, content) {
                            data_replace_blocks[id] = $('#' + id).html();
                            $('#' + id).html(content);
                        });   
                        $('#block_loading').hide();
                        $('#tcolumn').fadeIn(300);
                        $('#document_toolbar').fadeIn(300);  
                        $('#document_toolbar').show();    
                        $('#folder_toolbar').show();
                } else {
                console.log(3);
                    html = '&nbsp; <span class="btn btn-default" onclick="load_table_cache();"><i class="fa fa-arrow-left"></i></span>&nbsp;';

                    while ((time_fade_out+100)>(new Date()).getTime()) {
                        //
                    }
                    $('#tcolumn').html(json['form']);   
                    {% if toolbar != 'hide' %}
                        $('#folder_toolbar').html(json['toolbar']);                                         
                    {% else %}
                        $('#tcolumn').prepend(json['toolbar']);                           
                    {% endif %}                    
                    $('#document_toolbar').prepend(html);
                    
                    $('#tcolumn').fadeIn(300);
                    $('#document_toolbar').fadeIn(300);
                    var url = window.location.href;
                    var arr = url.split("&document_uid=");
                    if (json['document_uid']) {
                        history.pushState(null, null, arr[0] + '&document_uid=' + json['document_uid']);
                        history_cache[history_cache.length] = {
                            workspace: $('#tcolumn').html(),
                            toolbar: $('#folder_toolbar').html(),
                            document_uid: json['document_uid']
                        };                         
                    } else {
                        history.pushState(null, null, arr[0]);                    
                    }                    
                    $("#tcolumn").animate({ scrollTop: 0 }, "slow");
                    $('#tcolumn').fadeIn(300);
                    $('#document_toolbar').fadeIn(300); 
                    if(json['append']) {
                        $.each(json['append'],function(){
                            $('body').append(this);
                        });                        
                    }
                    $('#block_loading').hide();
                    $(window).trigger('resize');
                    $('#tcolumn').css('width',$('#tcolumn').outerWidth()+1); //часто колонка не отображается; помогает этот костыль
                }  
            },
            complete: function(xhr) {
                
            }
                
        });        
    }
    
    function folder_button_action(button_uid) {
        if ($('#folder_button' + button_uid).attr('disabled')) {
            return false;
        }    
        history_cache = [];
        history_cache[history_cache.length] = {
            workspace: $('#tcolumn').html(),
            toolbar: $('#folder_toolbar').html(),
            document_uid: ''
        };            
        $('#tcolumn').fadeOut(0);
        $('#document_toolbar').fadeOut(0);
        time_fade_out = (new Date()).getTime();
        $.ajax({
            url: 'index.php?route=document/folder/button&button_uid=' + button_uid,
            type: 'get',            
            data: $('#tcolumn input[type=\'checkbox\']:checked'),     
            cache: false,
            dataType: 'json',
            beforeSend: function(xhr) { 
                $('#block_loading').show();
                $('#folder_button' + button_uid).attr('disabled','disabled');
            }, 
            complete: function() {
                $('#block_loading').hide();
            },                
            success: function(json) {
                console.log('folder_button_action');
                history_cache_actual = 0;
                if(json) {
                    if(json['append']) {
                        $.each(json['append'],function(){
                            $('body').append(this);
                        });
                    }                      
                    if (json['error']) { 
                        $('#folder_button' + button_uid).removeAttr('disabled');
                        $('.alert').remove();
                        $('#folder_toolbar').append('<div class="alert alert-danger">' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                        $('#tcolumn').fadeIn(300);
                        $('#folder_toolbar').fadeIn(300);                        
                        $('#document_toolbar').fadeIn(300);                        
                    } else if(json['window']) {
                        $('#modal-action').remove();
                        html  = '<div id="modal-action" class="modal fade">';
                        html += '  <div class="modal-dialog modal-lg">';
                        html += '    <div class="modal-content">';
                        html += json['window'];
                        html += '    </div>';
                        html += '  </div>';
                        html += '</div>';
                        $('body').append(html);
                        $('#modal-action').modal('show');      
                        $('#tcolumn').fadeIn(300);
                        $('#document_toolbar').fadeIn(300); 
                        $('#folder_button' + button_uid).removeAttr('disabled');
                    } else if (json['reload']) {
                       $('#folder_button' + button_uid).removeAttr('disabled');
                       if (json['reload'] === 'table') {
                            load_table(table_params,'');
                       }
                    } else if (json['replace']) {
                        //реализовать, если понадобится замена элемента в списке журналов
                        data_replace_blocks = [];
                        $('#folder_button' + button_uid).removeAttr('disabled');
                        $.each(json['replace'], function(id, content) {
                            data_replace_blocks[id] = $('#' + id).html();
                            $('#' + id).html(content);
                        });   

                        $('#tcolumn').fadeIn(300);
                        $('#document_toolbar').fadeIn(300);  
                        $('#document_toolbar').show();    
                        $('#folder_toolbar').show();

                    } else if (json['redirect']) {
                        if (json['redirect'].indexOf(window.location.hostname) > -1 && json['redirect'].indexOf('dociment_uid=') > -1) {
                            load_url(json['redirect'] + '&folder_uid=={{ folder_uid }}');
                        } else {
                            if (json['append']) {   
                                //к текущей страницы добавили контент, проверяем на открытое модальное окно
                                if ($('body').hasClass('modal-open')) { //делаем редирект после закрытия окна
                                    $(document).on('hide.bs.modal', '.modal', function () {
                                        if ($('.modal:visible').length < 2) {
                                            window.location.href = json['redirect'];
                                        }

                                    });
                                } else {
                                    window.location.href = json['redirect'];
                                }                                
                            } else {
                                window.location.href = json['redirect'];
                            }                            
                        }                                
                    }      

                    if (json['document_uid']) {
                        history_cache[history_cache.length] = {
                            workspace: $('#tcolumn').html(),
                            toolbar: $('#folder_toolbar').html(),
                            document_uid: json['document_uid']
                        };  
                        var url = window.location.href;
                        var arr = url.split("&document_uid=");                            
                        history.pushState(null, null, arr[0] + '&document_uid=' + json['document_uid']);
                    }
                }
            }           
    });            
    }

    function filter_add() {
        num_filter++;
        html = '<tr id="filter-row' + num_filter + '"><td><select name="filter_field[]" onchange="select_filter_field(' + num_filter + ', this.value);" class="form-control">';
        html += ' <option value="0">{{ text_none }}</option>';
        $.each(tfields, function() {
            html += ' <option value="' + this.field_uid + '">' + this.tcolumn_name + '</option>';
        });  
        html += '</select></td><td><select name="filter_condition[]" class="form-control">';
        {% for condition in filter_conditions %}
            html += '<option value="{{ condition.value }}">{{ condition.title }}</option>';
        {% endfor %}        
        html += '</select></td><td id="filter_value' + num_filter + '"></td><td class="text-right"><button type="button" onclick="$(\'#filter-row' + num_filter + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-default"><i class="fa fa-minus-circle"></i></button></td></tr>';
        $('#list_filters tbody').append(html);       
    }

    function select_filter_field(num_filter, field_uid) {
        $.ajax({
            url: 'index.php?route=document/folder/get_field_widget&field_uid=' + field_uid,
            type: 'get',            
            dataType: 'json',
            cache: false,
            success: function(json) {      
                $('#filter_value' + num_filter).html(json);
            }    
        });

    }

    function filter() {
        filter_params = '';
        $('#list_filters').find('input, textearea, select').each(function() {
            filter_params += '&' + this.name + '=' +$(this).val();
        });
        load_table(table_params,'');
        if ($('#list_filters').find('input, textearea, select').length) {
            $('#button_filter').addClass('btn-info');
        } else {
            $('#button_filter').removeClass('btn-info');
        }
        
        folder_toolbar = $('#folder_toolbar').html();    
    }

    function filter_reset() {
        $('#list_filters tbody').html('');
        filter_params = '';
        filter_id = 0;
        $('#filter_name').val('');    
        load_table(table_params,'');
        $('#button_filter').removeClass('btn-info');
        folder_toolbar = $('#folder_toolbar').html();    
    }  

    function filter_save() {
        $.ajax({
            url: 'index.php?route=document/folder/filter_save&folder_uid={{ folder_uid }}&filter_name=' + encodeURI($('#filter_name').val()) + '&filter_id=' + filter_id,
                type: 'post',
                data: $('#list_filters tbody input[type=\'text\'], #list_filters tbody input[type=\'hidden\'], #list_filters tbody input[type=\'radio\']:checked, #list_filters tbody input[type=\'checkbox\']:checked, #list_filters tbody select, #list_filters tbody textarea'),
                dataType: 'json',          
                success: function(json) {
                    if (filter_id > 0) {
                        //обновляем название фильтра
                        $('#filter' + filter_id).html('<a style="cursor: pointer;" onclick="filter_load(' + filter_id + ');"><i class="fa fa-minus-circle" onclick="filter_remove(' + filter_id + ');" ></i> ' +  $('#filter_name').val() + '</a>');
                    } else {    
                        //добавляем новый фильтр в список
                        filter_id = json['filter_id'];
                        $('#filters').append('<li id="filter' + filter_id + '"><a style="cursor: pointer;" onclick="filter_load(' + filter_id + ');"><i class="fa fa-minus-circle" onclick="filter_remove(' + filter_id + ');" ></i> ' +  $('#filter_name').val() + ' </a></li>');

                    } 
                }
            });    
    } 

    function filter_load(fid) {
        $('#list_filters tbody').html('');
        $.ajax({
            url: 'index.php?route=document/folder/filter_load&filter_id=' + fid,
                type: 'get',
                dataType: 'json',          
                success: function(json) {
                    //загружаем фильтр в таблицу и применяем его
                    num_filter = 0;
                    $.each(json['filter'], function(index,filter){
                        num_filter++;
                        html = '<tr id="filter-row' + num_filter + '"><td><select name="filter_field[]" onchange="select_filter_field(' + num_filter + ', this.value);" class="form-control">';
                        html += ' <option value="0">{{ text_none }}</option>';
                        $.each(tfields, function() {
                            html += ' <option value="' + this.field_uid + '"';
                            if (filter['filter_field'] === this.field_uid) {
                                html += ' selected ';
                            }    
                            html += '>' + this.name + '</option>';
                        });  
                        html += '</select></td><td><select name="filter_condition[]" class="form-control">';
                        {% for condition in filter_conditions %}
                            html += '<option value="{{ condition.value }}"';
                            if (filter['filter_condition'] === '{{ condition.value }}') {
                                html += ' selected="selected" ';
                            }                           
                            html += '>{{ condition.title }}</option>';
                        {% endfor %}        
                        html += '</select></td><td id="filter_value' + num_filter + '">' + filter['filter_form'] + '</td><td class="text-right"><button type="button" onclick="$(\'#filter-row' + num_filter + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-default"><i class="fa fa-minus-circle"></i></button></td></tr>';
                        $('#list_filters tbody').append(html);       
                    });
                    filter_id = fid;
                    $('#filter_name').val(json['filter_name']);                
                }
            });    
    }

    function filter_remove(fid) {
        $.ajax({
            url: 'index.php?route=document/folder/filter_remove&filter_id=' + fid,
                type: 'get',
                dataType: 'json',          
                success: function(json) {
                    $('#filter' + fid).remove();
                }
            });  
        return false;

    }    

    function key_qsearch(key) {
       if(key == 13 || key == 'Enter'){
           //нажат Enter
           qsearch();
       }
    };

    function qsearch() {
        if ($('#block-qsearch').is(':visible')) {
            if (input_qsearch != $('input[name=\'input_qsearch\']').val()) {
                input_qsearch = $('input[name=\'input_qsearch\']').val();  
                $('input[name=\'input_qsearch\']').attr('value',input_qsearch);//отображаем в value, чтобы записать поисковую строку кэш и она не была пустой при открытии дока и возврата по кнопке назад
                load_table(table_params,'');
            }              
            if ($('input[name=\'input_qsearch\']').val() !== '') {
                $('#button_qsearch').addClass('btn-info');
            } else {      
                $('#button_qsearch').removeClass('btn-info');
            }        
            $('#block-qsearch').fadeOut();
        } else {
            $('#block-qsearch').fadeIn();
            $('input[name=\'input_qsearch\']').focus();
        }

    {#    $( "#box1" ).fadeOut( 1600, "linear", complete );#}
    }

</script>

{{ footer }}