
</div>

<script type="text/javascript">
    function save_draft() {
        $.ajax({
            url: 'index.php?route=document/document/save_draft&document_uid={{ document_uid }}',
            type: 'post',
            data: $('#document_form input[type=\'text\'], #document_form input[type=\'number\'], #document_form input[type=\'password\'], #document_form input[type=\'hidden\'], #document_form input[type=\'radio\']:checked, #document_form input[type=\'checkbox\']:checked, #document_form select, #document_form textarea'),
            dataType: 'json',
            success: function(json) {
            }
        });
      //  clearTimeout(timerId);
      //  timerId = setTimeout(save_draft, 15000);
    };

    $(function(){ 
       // timerId = setTimeout(save_draft, 15000);
    });

     $(".form-control").change(function() {
        save_draft();
    });    
    $(".summernote").on("summernote.change", function (e) {   // callback as jquery custom event 
});
</script>
{{ footer }}
