<div id="document_toolbar">
        &nbsp;<span class="btn btn-default shadow2" onclick="save_document();" id="button-save_document" data-toggle="tooltip" title="{{ button_save }}" data-loading-text="{{ text_loading }}"><i class="fa fa-save"></i> {{ button_save }}</span>&nbsp;
        &nbsp;<span class="btn btn-default shadow2" onclick="cancel('{{ folder_uid }}');" id="button-cancel_document" data-toggle="tooltip" title="{{ button_cancel }}"><i class="fa fa-reply"></i> {{ button_cancel }}</span>&nbsp;
        <div id="block_loading">&nbsp;&nbsp;&nbsp;{{ text_loading }}&nbsp;&nbsp;&nbsp;</div>
</div>    
<script type="text/javascript">
   var functions = [];  //массив функций, которые будут запущены перед отправкой данных на сервер
   if (window.history.length < 2) {
       $('#button-cancel_document').hide();
   }
   function save_document() {  
        if ($('#button-save_document').attr('disabled')) {
            return false;
        }       
        if (functions.length > 0) { //функции полей перед сохранением документа
           $.each(functions, function(){
               this();
           });            
        }
        $.ajax({
            url: 'index.php?route=document/document&document_uid={{ document_uid }}{% if folder_uid is not empty %}&folder_uid={{ folder_uid }}{% endif %}&json',
            type: 'post',
            data: $('#document_form input[type=\'text\'], #document_form input[type=\'file\'], #document_form input[type=\'number\'], #document_form input[type=\'password\'], #document_form input[type=\'hidden\'], #document_form input[type=\'radio\']:checked, #document_form input[type=\'checkbox\']:checked, #document_form select, #document_form textarea'),
            dataType: 'json',
            beforeSend: function(xhr) { 
                $('#block_loading').show();
                $('#button-save_document').attr('disabled','disabled');
            },                 
            complete: function() {

            },
            success: function(json) {
                if(json['append']) {
                    $.each(json['append'],function(){
                        $('body').append(this);
                    });
                }                
                if (json['redirect']) {
                    if (getURLVar('folder_uid') && json['redirect'].indexOf('document_uid') >= 0) {
                        history_cache_actual = 0;
                        load_url(json['redirect'] + '&folder_uid=' + getURLVar('folder_uid'));
                    } else {
                        if (json['append']) {   
                            //к текущей страницы добавили контент, проверяем на открытое модальное окно
                            if ($('body').hasClass('modal-open')) { //делаем редирект после закрытия окна
                                $(document).on('hide.bs.modal', '.modal', function () {
                                    if ($('.modal:visible').length < 2) {
                                        window.location.href = json['redirect'];
                                    }

                                });
                            } else {
                                window.location.href = json['redirect'];
                            }                                
                        } else {
                            window.location.href = json['redirect'];
                        }                            
                    }                                                                
                } else if(json['window']) {
                        $('#modal-action').remove();
                        html  = '<div id="modal-action" class="modal fade">';
                        html += '  <div class="modal-dialog modal-lg">';
                        html += '    <div class="modal-content">';
                        html += json['window'];
                        html += '    </div>';
                        html += '  </div>';
                        html += '</div>';
                        $('body').append(html);
                        $('#modal-action').modal('show');    
                } else if (json['reload']) {
                    $('#button-save_document').removeAttr('disabled');
                    history_cache_actual = 0;
                    if (getURLVar('folder_uid')) {
{#                            load_table(table_params);#}
                        load_table_cache();
                    } else {
                        window.location.href = json['reload'];
                    } 
                } else if (json['error']) {
                    $('#button-save_document').removeAttr('disabled');
                    $('#document_toolbar .alert').remove();
                    $('#block_loading').hide();
                    $('#document_toolbar').append('<div class="alert alert-danger" style="margin-top:5px;">' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                } 

            }
        });                        
    };


    function cancel(folder) {
        time_fade_out = (new Date()).getTime();
        $.ajax({
            url: 'index.php?route=document/document/remove&document_uid={{ document_uid }}',
            type: 'get',
            dataType: 'json'
        });            
        if (folder === '' || typeof folder === 'undefined') {
            window.history.back();
        } else {
            load_table_cache();
        }    

    }

</script>                   
    