<div id="document_toolbar">
{% for button in buttons %}
    &nbsp; <span class="btn btn-default shadow2" id="button{{ button.button_uid }}" style="{% if button.color is not empty %}color:#{{ button.color }};{% endif %}{% if button.background is not empty %}background-color:#{{ button.background }};{% endif %}{% if button.picture %}padding:3px 6px 3px 3px;{% endif %}" onclick="button_action('{{ button.button_uid }}');" data-toggle="tooltip" title="{{ button.title }}" data-loading-text="{{ text_loading }}">{% if button.picture %}<img src="{{ button.picture }}"> {% endif %}<span{% if button.hide_button_name and button.picture %} class="text-hide-{{ button.hide_button_name }}"{% endif %}>{{ button.name }}</span></span>&nbsp;
{% endfor %}   
<div id="block_loading">&nbsp;&nbsp;&nbsp;{{ text_loading }}&nbsp;&nbsp;&nbsp;</div>
</div>
<script type='text/javascript'>   
    var data_replace_blocks = [];
    var last_doc = 0;

    function button_action(button_uid) {
        if ($('#button' + button_uid).attr('disabled')) {
            return false;
        }
        $.ajax({
            url: 'index.php?route=document/document/button&button_uid=' + button_uid + '&document_uid={{ document_uid }}',
            cache: false,
            dataType: 'json',     
            beforeSend: function(xhr) { 
                $('#block_loading').show();
                $('#button' + button_uid).attr('disabled','disabled');
            },                 
            complete: function() {
                $('#block_loading').hide();
            },                
            success: function(json) {  
                if(json) {
                    if(json['append']) {
                        $.each(json['append'],function(){
                            $('body').append(this);
                        });
                    }
                    if(json['window']) {
                        $('#button' + button_uid).removeAttr('disabled');
                        $('#modal-action').remove();
                        html  = '<div id="modal-action" class="modal fade">';
                        html += '  <div class="modal-dialog modal-lg">';
                        html += '    <div class="modal-content">';
                        html += json['window'];
                        html += '    </div>';
                        html += '  </div>';
                        html += '</div>';
                        $('body').append(html);
                        $('#modal-action').modal('show');                        

                    } 
                    if (json['replace']) {
                        $('#block_loading').hide();
                        data_replace_blocks = [];

                        $('#button' + button_uid).removeAttr('disabled');
                        
                        $.each(json['replace'], function(id, content) {
                            data_replace_blocks[id] = $('#' + id).html();
                            $('#' + id).html(content);
                            $('#' + id).show();
                        });

                        //скрываем подсказки кнопок
                        $('.tooltip').hide();  
                        $('#tcolumn').fadeIn(300);
                        if (typeof hide_toolbar === 'undefined' || !hide_toolbar) {
                            $('#document_toolbar').fadeIn(300);
                            $('#document_toolbar').show();    
                            $('#folder_toolbar').show();                                                                  
                        }
                    } 
                    if (json['redirect']) {
                        history_cache_actual = 0;
                        if (getURLVar('folder_uid') && json['redirect'].indexOf('document_uid') >= 0) {
                            load_url(json['redirect'] + '&folder_uid=' + getURLVar('folder_uid'));
                        } else {
                            if (json['append']) {  
                                //к текущей страницы добавили контент, проверяем на открытое модальное окно
                                if ($('body').hasClass('modal-open')) { //делаем редирект после закрытия окна
                                    $(document).on('hide.bs.modal', '.modal', function () {
                                        if ($('.modal:visible').length < 2) {
                                            window.location.href = json['redirect'];
                                        }
                                        
                                    });
                                }  else {
                                window.location.href = json['redirect'];
                            }                              
                            } else {
                                window.location.href = json['redirect'];
                            }                            
                        }                        
                    } 
                    
                    if (json['reload']) {
                        $('#button' + button_uid).removeAttr('disabled');
                        history_cache_actual = 0;
                        if (getURLVar('folder_uid')) {
{#                                load_table(table_params);#}
                            load_table_cache();
                        } else {
                            window.location.href = json['reload'];
                        } 
                    }                     
                    if (json['error']) {
                        $('#tcolumn').fadeIn(300);
                        $('#block_loading').hide();
                        if (typeof hide_toolbar === 'undefined' || !hide_toolbar) {
                            $('#document_toolbar').fadeIn(300);                    
                            $('#document_toolbar').append('<br><div class="alert alert-danger">' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                        }                            
                    }

                }
            }
        });        
    }
    
    $(function(){
      $(document.body).on('click','.linkfield',function(e){
        if (getURLVar('folder_uid')) {
            $('.modal').modal('hide'); //скрываем любые открытые модальные окна
            e.preventDefault();
            if (last_doc != e.target.attributes['data-document_uid'].nodeValue) { //иногда событие генерится по несколько раз подряд, почему - пока неясно, во избежание этого пока добавлено данное условие
                open_document(e.target.attributes['data-document_uid'].nodeValue);
                last_doc = e.target.attributes['data-document_uid'].nodeValue;
            }  
            return false;
        }  
      });
    });

</script>

